<div class="border border-base-300 bg-base-200 p-5 w-full mt-5 flex flex-col gap-2">
    <div class="prose">
        {% include 'edwoca/partials/manifestation/preview-paragraphs/title.html' %}
    </div>
    <div class="prose">
        {% include 'edwoca/partials/manifestation/preview-paragraphs/history.html' %}
    </div>
    {% if not object.is_singleton %}
        <div class="prose">
            {% include 'edwoca/partials/manifestation/preview-paragraphs/print.html' %}
        </div>
    {% endif %}
    <div class="prose">
        {% include 'edwoca/partials/manifestation/preview-paragraphs/manuscript.html' %}
    </div>
    {% if object.is_singleton %}
        <div class="prose">
            {% include 'edwoca/partials/item/preview-paragraphs/provenance.html' %}
        </div>
    {% endif %}
    <div class="prose">
        {% include 'edwoca/partials/manifestation/preview-paragraphs/bib.html' %}
    </div>
    {% if object.is_singleton %}
        <div class="prose">
            {% include 'edwoca/partials/item/preview-paragraphs/digital_copy.html' %}
        </div>
    {% endif %}
    <div class="prose">
        {% include 'edwoca/partials/manifestation/preview-paragraphs/comment.html' %}
    </div>
</div>
