{% load i18n %}
<div class="flex items-center mb-5">
    <label class="flex-1 items-center">
        <div class="label">
            <span class="label-text text-success font-bold">{% translate label|default:'Selected' %}</span>
        </div>
        <div class="flex gap-5">
            <input type="text" class="grow pseudo-input bg-white border border-success text-success font-bold" disabled value="{{ dedicatee }}" />
            <button class="btn btn-outline btn-success" type="button" onclick="location.reload()">
                {% translate 'Saved (Reload to edit)' %}
            </button>
        </div>
    </label>
</div>