{% load i18n %}

{% for result in results %}
    <li class="border-b last:border-0 hover:bg-base-200">
        <a class="block p-2 cursor-pointer"
           hx-post="{% url 'edwoca:manifestation_dedication_htmx_update' %}"
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
           hx-target="#search-container-{{ dedication_model_id }}-{{ field_name }}"
           hx-swap="outerHTML"
           hx-vals='{
               "dedication_app": "{{ dedication_app }}",
               "dedicatee_app": "{{ dedicatee_app|default:"dmad" }}",
               "dedication_model": "{{ dedication_model_name }}",
               "dedicatee_model": "{{ dedicatee_model_name }}",
               "dedication_model_id": "{{ dedication_model_id }}",
               "dedicatee_model_id": "{{ result.pk }}",
               "search_type": "{{ search_type }}",
               "field_name": "{{ field_name }}",
               "label": "{{ search_type }}"
           }'>
            {{ result.object }}
        </a>
    </li>
{% empty %}
    <li class="p-3 text-sm text-gray-500 italic">{% translate 'no search results' %}</li>
{% endfor %}