<div class="collapse bg-base-100 collapse-arrow my-5">
    <input type="checkbox" />
    <div class="bg-base-100 collapse-title truncate">
        {{ dedication_form.instance }}
    </div>
    <div class="collapse-content mt-5">
        {{ dedication_form.as_daisy }}
        {% for dedicatee in dedication_form.instance.dedicatee.all %}
            <div class="flex items-center my-5">
                <label class="flex-1 gap-2">
                    <div class="label">
                        <span class="label-text">{% translate 'dedicatee' %}</span>
                    </div>
                    <div class="flex gap-5">
                        <input type="text" class="flex-1 grow pseudo-input border border-black bg-white" disabled value="{{ dedicatee }}" />
                        <a class="btn btn-outline btn-primary" href="{% url 'edwoca:manifestation_'|add:dedicatee_class|add:'dedication_remove_dedicatee' object.id dedication_form.instance.id dedicatee.id %}">
                            {% translate 'remove' %}
                        </a>
                    </div>
                </label>
            </div>
        {% empty %}
        {% endfor %}
        <div id="search-container-manifestationdedication-{{dedication_form.instance.id }}-dedicatee">
        </div>
        <div class="my-5">
            <div>
                {% include 'edwoca/partials/htmx/search.html' with label='dedicatee' search_type=dedicatee_class|add:'_dedicatee' field_name='dedicatee' app='dmrism' model_name='manifestationdedication' target_app='dmad' target_model=dedicatee_class target_id=dedication_form.instance.id|stringformat:"s"|add:"-pers" id=dedication_form.instance.id placeholder='search '|add:dedicatee_class|add:'s' multiplicity='multiple' %}
            </div>
            {% if query_dedicatee and person_dedication_id == person_dedication_form.instance.id %}
                <ul class="border border-black p-3 overflow-auto h-32 bg-white">
                {% for person in found_persons %}
                    <li>
                        <a href="{% url 'edwoca:manifestation_person_dedication_add_dedicatee' object.id person_dedication_form.instance.id person.pk %}">{{ person.object }}</a>
                    </li>
                {% empty %}
                    <li>
                        {% translate 'no search results' %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if person_dedication_form.instance.place %}
            <div class="flex items-center my-5">
                <label class="grow">
                    <div class="label">
                        <span class="label-text">{% translate 'place' %}</span>
                    </div>
                    <div class="flex gap-5">
                        <input type="text" class="flex-1 grow pseudo-input flex-1 border border-black bg-white" disabled value="{{ person_dedication_form.instance.place }}" />
                        <a class="btn btn-outline btn-primary flex-0" href="{% url 'edwoca:manifestation_person_dedication_remove_place' object.id person_dedication_form.instance.id %}">
                            {% translate 'remove' %}
                        </a>
                    </div>
                </label>
            </div>
        {% else %}
            <div id="search-container-manifestationpersondedication-{{ person_dedication_form.instance.id }}-place">
                {% include 'edwoca/partials/htmx/search.html' with label='place' search_type='place' field_name='place' app='dmrism' model_name='manifestationpersondedication' target_app='dmad' target_model='place' target_id=person_dedication_form.instance.id|stringformat:"s"|add:"-place" id=person_dedication_form.instance.id placeholder='search places' %}
            </div>
        {% endif %}

        {{ person_dedication_form.date_as_daisy }}
        <div class="flex">
            <div class="flex-1"></div>
            <button class="btn btn-primary btn-outline" type="submit" name="remove-person-dedication" value="{{ person_dedication_form.instance.id }}" form="form">
                {% translate 'remove dedication' %}
            </button>
        </div>
    </div>
</div>
