<ul class="menu menu-lg">
	<li>
	    <a
		href="{% url 'edwoca:work_title' object.id %}"
		{% if 'title' in request.path %}class="active"{% endif %}
		>
		Titelei und Widmung
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_update' object.id %}"
		{% if 'update' in request.path %}class="active"{% endif %}
		>
		Identifikation
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_relations' object.id %}"
		{% if 'relations' in request.path %}class="active"{% endif %}
		>
		Bezüge
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_references' object.id %}"
		{% if 'references' in request.path %}class="active"{% endif %}
		>
		Referenz
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_history' object.id %}"
		{% if 'history' in request.path %}class="active"{% endif %}
		>
		Entstehung
	    </a>
	</li>
	<li class="disabled">
	    <a href="#">
		Uraufführung
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_bibliography' object.id %}"
		{% if 'bibliography' in request.path %}class="active"{% endif %}
		>
		Literatur
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_comment' object.id %}"
		{% if 'comment' in request.path %}class="active"{% endif %}
		>
		Kommentar
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_delete' object.id %}"
		{% if 'delete' in request.path %}class="active"{% endif %}
		>
		löschen
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_list' %}">
		zurück
	    </a>
	</li>
</ul>
