<div class="form-control">
	{% if list_entity_type == 'work' %}
		<form action="{% url 'edwoca:work_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}

	{% if list_entity_type == 'expression' %}
		<form action="{% url 'edwoca:expression_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}

	{% if list_entity_type == 'manifestation' %}
		<form action="{% url 'edwoca:manifestation_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}

	{% if list_entity_type == 'singleton' %}
		<form action="{% url 'edwoca:singleton_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}

	{% if list_entity_type == 'item' %}
		<form action="{% url 'edwoca:item_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}

	{% if list_entity_type == 'letter' %}
		<form action="{% url 'edwoca:letter_search' %}" method="get" class="m-0">
			{{ form.q }}
			<input type="submit" class="btn">
		</form>
	{% endif %}
</div>
