{% load i18n %}
{% load entity_labels %}

<form action="{% url 'edwoca:'|add:list_entity_type|add:'_search' %}" method="get" class="flex m-0">
    <input
        name="q"
        type="text"
        placeholder="{% blocktrans with type=list_entity_type|entity_label %}search {{ type }}{% endblocktrans %}"
        value="{{ request.GET.q }}"
        class="input input-bordered bg-white border-black border-r-0 flex-1"
        />
    <input value="{% translate 'search' %}" type="submit" class="btn-outline flex-0 bg-white btn">
</form>
