<ul class="menu menu-lg">
	<li>
	    <a
		href="{% url 'edwoca:work_title' object.id %}"
		{% if 'title' in request.path %}class="active"{% endif %}
		>
		Titel
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_update' object.id %}"
		{% if 'update' in request.path %}class="active"{% endif %}
		>
		Identifikation
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_relations' object.id %}"
		{% if 'relations' in request.path %}class="active"{% endif %}
		>
		Bezüge
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_contributors' object.id %}"
		{% if 'contributors' in request.path %}class="active"{% endif %}
		>
		Beteiligte
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_relatedworks' object.id %}"
		{% if 'relatedworks' in request.path %}class="active"{% endif %}
		>
		Referenzwerke
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_history' object.id %}"
		{% if 'history' in request.path %}class="active"{% endif %}
		>
		Entstehung
	    </a>
	</li>
	<li class="disabled">
	    <a href="#">
		Uraufführung
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_bibliography' object.id %}"
		{% if 'bibliography' in request.path %}class="active"{% endif %}
		>
		Literatur
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_comment' object.id %}"
		{% if 'comment' in request.path %}class="active"{% endif %}
		>
		Kommentar intern
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:work_list' %}">
		zurück
	    </a>
	</li>
</ul>
