{% load i18n %}

<ul class="menu" id="facets" hx-swap-oob="true">
    {% if rework_count > 0 or stub_count > 0 %}
        <li>
            <h2 class="menu-title">
                {% translate 'filters' %}
            </h2>
            <ul>
                {% if rework_count > 0 %}
                <li>
                    {% if type == 'rework' %}
                        <a
                            href="{% url search_url %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-get="{% url search_url %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            class="active"
                            hx-include="#query"
                            hx-select="#search-results-container"
                            hx-target="#search-results-container"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                        >
                            {% translate 'rework' %}
                            ({{ rework_count }})
                        </a>
                    {% endif %}
                    {% if not type %}
                        <a
                            href="{% url search_url 'rework' %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-get="{% url search_url 'rework' %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-include="#query"
                            hx-select="#search-results-container"
                            hx-target="#search-results-container"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                        >
                            {% translate 'rework' %}
                            ({{ rework_count }})
                        </a>
                    {% endif %}
                </li>
                {% endif %}
                {% if stub_count > 0 %}
                <li>
                    {% if type == 'stub' %}
                        <a
                            href="{% url search_url %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-get="{% url search_url %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            class="active"
                            hx-include="#query"
                            hx-select="#search-results-container"
                            hx-target="#search-results-container"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                        >
                            {% translate 'stubs' %}
                            ({{ stub_count }})
                        </a>
                    {% endif %}
                    {% if not type %}
                        <a
                            href="{% url search_url 'stub' %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-get="{% url search_url 'stub' %}?q={{ query|default:'' }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.dir %}&dir={{ request.GET.dir }}{% endif %}"
                            hx-include="#query"
                            hx-select="#search-results-container"
                            hx-target="#search-results-container"
                            hx-swap="outerHTML"
                            hx-push-url="true"
                        >
                            {% translate 'stubs' %}
                            ({{ stub_count }})
                        </a>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if available_sorts %}
        <li>
            <h2 class="menu-title">
                {% translate 'Sortierung' %}
            </h2>
            <ul>
                {% for key, sort_meta in available_sorts.items %}
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if type %}type={{ type }}&{% endif %}sort={{ key }}&dir=asc"
                           hx-get="?{% if query %}q={{ query }}&{% endif %}{% if type %}type={{ type }}&{% endif %}sort={{ key }}&dir=asc"
                           class="{% if request.GET.sort == key and request.GET.dir != 'desc' %}active font-semibold{% endif %}"
                           hx-include="#query"
                           hx-select="#search-results-container"
                           hx-target="#search-results-container"
                           hx-swap="outerHTML"
                           hx-push-url="true">
                            {{ sort_meta.1 }} ({{ sort_meta.2|default:_('aufsteigend') }})
                    </a>
                        </a>
                    </li>
                    <li>
                        <a href="?{% if query %}q={{ query }}&{% endif %}{% if type %}type={{ type }}&{% endif %}sort={{ key }}&dir=desc"
                           hx-get="?{% if query %}q={{ query }}&{% endif %}{% if type %}type={{ type }}&{% endif %}sort={{ key }}&dir=desc"
                           class="{% if request.GET.sort == key and request.GET.dir == 'desc' %}active font-semibold{% endif %}"
                           hx-include="#query"
                           hx-select="#search-results-container"
                           hx-target="#search-results-container"
                           hx-swap="outerHTML"
                           hx-push-url="true">
                            {{ sort_meta.1 }} ({{ sort_meta.3|default:_('absteigend') }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>