{% load i18n %}

<ul class="menu menu-lg">
    <li>
        <a href="{% url 'dmad_on_django:person_list' %}"
            class="{% if active == 'person' %}active{% endif %}">
            {% translate 'persons' %}
            <span class="badge">
                {{ person_count }}
            </span>
        </a>
    </li>
    <li>
        <a href="{% url 'dmad_on_django:work_list' %}"
            class="{% if active == 'work' %}active{% endif %}">
            {% translate 'works' %}
            <span class="badge">
                {{ work_count }}
            </span>
        </a>
    </li>
    <li>
        <a href="{% url 'dmad_on_django:place_list' %}"
            class="{% if active == 'place' %}active{% endif %}">
            {% translate 'places' %}
            <span class="badge">
                {{ place_count }}
            </span>
        </a>
    </li>
    <li>
        <a href="{% url 'dmad_on_django:subject_term_list' %}"
            class="{% if active == 'subject_term' %}active{% endif %}">
            {% translate 'subject terms' %}
            <span class="badge">
                {{ subjectterm_count }}
            </span>
        </a>
    </li>
    <li>
        <a href="{% url 'dmad_on_django:corporation_list' %}"
            class="{% if active == 'corporation' %}active{% endif %}">
            {% translate 'corporations' %}
            <span class="badge">
                {{ corporation_count}}
            </span>
        </a>
    </li>
</ul>
