{% load i18n %}

<form
    method="get"
    action="{{ action_url }}"
    class="flex-1 flex m-0 bg-white"
    id="search-form"
    {% if hx_get %}
        hx-get="{{ hx_get }}"
        hx-target="#search-results-container"
        hx-trigger="input delay:500ms"
        hx-push-url="true"
    {% endif %}
>
    <label class="form-control flex items-center gap-2 flex-1">
        {{ form.q }}
    </label>
    <input class="btn btn-outline border-l-0" type="submit" value="{% translate 'search' %}" />
</form>
