{% extends 'dmad_on_django/base.html' %}
{% load static %}

{% block content %}

<div class="flex-1">
    <h2 class="prose"> {{ view_title }} </h2>

    <div class="bg-white p-5 border my-5 border-base-300">
	<div class="prose">
	    <h3>GND durchsuchen</h3>
	    <input class="input input-bordered" id="gnd-search" />
	    <ul class="list-disc h-64 text-sm" id="gnd-search-results">
		<li> <em> bitte Suchbegriff eingeben </em> </li>
	    </ul>
	</div>
    </div>

    <div class="bg-white p-5 border border-base-300">
	<div class="prose">
	    <h3> Informationen </h3>
	    <form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" id="submit-form" class="hidden" value="{{ button_label }}" class="btn btn-primary my-5">
	    </form>
	</div>
    </div>
</div>

<div class="flex-0 flex flex-col">
    <div class="flex-1"></div>
    <ul class="menu gap-5 flex-0">
	<li>
	    <label class="btn btn-primary" for="submit-form"> speichern </label>
	</li>
    </ul>
</div>

<script src="{% static 'dmad_on_django/search_gnd.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', _ => {
	dmadOnDjangoSearchGnd.init({
	    'target': 'gnd-search-results',
	    'input': 'gnd-search',
	    'entityType': '{{ entity_type }}'
	});
    });
</script>
{% endblock %}

{% block menu %}
<li>
    <a href="{% url 'dmad_on_django:person_list' %}">
	Personen
    </a>
</li>
{% comment %}
<li>
    <a href="{% url 'dmad_on_django:org_list' %}">
	Korporationen
    </a>
</li>
<li>
    <a href="{% url 'dmad_on_django:place_list' %}">
	Orte
    </a>
</li>
{% endcomment %}
<li>
    <a href="{% url 'dmad_on_django:work_list' %}">
	Werke
    </a>
</li>
{% endblock %}
