{% extends 'liszt_util/base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}
    {% translate 'create dataset' %}
    |
    DMAd
{% endblock %}

{% block menu %}
    {% include 'dmad_on_django/partials/navbar.html' %}
{% endblock %}

{% block navbar_extras %}
    <div class="flex gap-10 items-center items-stretch">
        {% include 'dmad_on_django/partials/create_button.html' %}
    </div>
{% endblock %}

{% block navbar_title %}
    <div class="mt-5 mx-5 md:mx-10 text-lg lg:text-2xl xl:text-3xl flex">
        {% translate 'create dataset' %}
    </div>
{% endblock %}

{% block content %}
    <div class="flex-1 flex flex-col h-full gap-10">
        <div class="flex-0 mt-10">
            <form
                hx-get="{% url 'dmad_on_django:'|add:entity_type|add:'_create' %}"
                hx-target="#gnd-search-results"
                hx-trigger="input delay:500ms"
                hx-push-url="true"
                >
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">
                            {% translate 'search GND' %}
                        </span>
                    </div>
                    <input
                        class="input input-bordered border-black bg-white"
                        id="gnd-search"
                        name="q"
                        value="{{ q }}"
                        placeholder="{% translate 'enter search term or GND ID' %}"
                        />
                </label>
            </form>
            <div class="mb-5" id="gnd-search-results">
                {% include 'dmad_on_django/partials/gnd_search.html' %}
            </div>
        </div>
        <div class="flex-0">
            <div tabindex="0" class="collapse bg-base-100">
                <input type="checkbox" />
                <div class="collapse-title">
                    {% translate 'create stub' %}
                </div>
                <div class="collapse-content">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_daisy }}
                        <input type="submit" id="submit-form" class="hidden" value="{{ button_label }}" class="btn btn-primary my-5">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block nav %}
<div class="flex-0 flex flex-col h-full">
    <div class="flex-1"></div>
    <ul class="menu gap-5 flex-0">
        <li>
            <label class="btn btn-primary btn-outline" for="submit-form">
                {% translate 'create new' %}
            </label>
        </li>
    </ul>
</div>
{% endblock %}

