{% extends 'liszt_util/base.html' %}
{% load i18n %}
{% block content %}

<div class="flex-1 min-w-0">
    <h2 class="card-title mt-0"> {{ object.get_designator }} </h2>

    {% if object.gnd_id %}
    <div class="tabs tabs-border">
	<input type="radio" class="tab" aria-label="{% trans 'edit' %}" name="data-raw-toggle" checked="checked">
	<div class="tab-content px-5 bg-white border border-base-300">
	    <div class="prose">
		<h4> {% trans "Short description" %} </h4>
		<p>
		    {{ object.get_description }}
		</p>
		<h4> {% trans "Lobid-Info" %} </h4>
		<p>
		    {{ object.interim_designator }}
		</p>
		<h4> {% trans "Customize" %} </h4>
		<form method="post">
		    {% csrf_token %}
		    {{ form.as_daisy }}
		    <input type="submit" id="submit-form" class="hidden">
		</form>
	    </div>
	</div>
	<input type="radio" class="tab" aria-label="{% trans 'data overview' %}" name="data-raw-toggle">
	<div class="tab-content px-5 overflow-auto max-w-full h-screen bg-white border border-base-300">
	    <div class="collapse collapse-plus">
	        <input type="checkbox" />
	        <div class="collapse-title">{% trans "identification" %}</div>
		<div class="collapse-content">
		    <table class="table table-zebra">
			<tr>
			    <td> {% trans "gnd-id" %} </td>
			    <td> {{ object.gnd_id }} </td>
			</tr>
			<tr>
			    <td> {% trans "default name" %} </td>
			    <td> {{ object.get_default_name }} </td>
			</tr>
			{% for alt_name in object.get_alt_names %}
			    <tr>
				<td> {% trans "alternate_name" %} </td>
				<td> {{ alt_name }} </td>
			    </tr>
			{% endfor %}
		    </table>
		</div>
	    </div>
	    <div class="collapse collapse-plus">
	        <input type="checkbox"/>
	        <div class="collapse-title">{{object.get_overview_title}}</div>
			{{object.as_daisy}}
	    </div>
	</div>
	<input type="radio" class="tab" aria-label="{% trans 'raw data'%}" name="data-raw-toggle" >
	<div class="tab-content px-5 overflow-auto max-w-full h-screen bg-white border border-base-300">
	    <pre class="whitespace-pre text-sm leading-snug"><code class="language-json">{{ object.render_raw | escape }}</code></pre>
	</div>
    </div>
    {% else %}
    <div class="bg-white p-5 border border-base-300">
	<div class="prose">
	    <form method="post">
		{% csrf_token %}
		{{ form.as_daisy }}
		<input type="submit" id="submit-form" class="hidden">
	    </form>
	</div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block nav %}
{% with prefix='dmad_on_django:'|add:entity_type %}
<div class="flex flex-col h-full">
    <div class="flex-1"></div>
    <ul class="menu gap-5 flex-0">
        <li>
            <a class="btn" href="{% url prefix|add:'_create' %}">
                {% trans "create entry" %}
            </a>
        </li>
        {% if object.gnd_id %}
            <li>
                <a class="btn" href="{% url prefix|add:'_unlink' object.id %}">
                    {% trans "remove gnd" %}
                </a>
            </li>
        {% else %}
            <li>
                <a class="btn" href="{% url prefix|add:'_link' object.id %}">
                    {% trans "connect gnd" %}
                </a>
            </li>
        {% endif %}
		<li>
			<label class="btn btn-primary" for="submit-form"> {% trans "save" %} </label>
		</li>
    </ul>
</div>
{% endwith %}

{% endblock %}

{%block menu%}
{%include 'dmad_on_django/partials/navbar.html'%}
{%endblock%}
