{% extends 'liszt_util/base.html' %}

{% load i18n %}

{% block page_title %}
    {{ object }}
    |
    DMAd
{% endblock %}

{% block content %}

    <div class="flex-1 min-w-0">
        <h2 class="my-5">
            {% translate 'short description' %}
        </h2>
        <p>
            {{ object.get_description }}
        </p>
        <h2 class="my-5">
            {% translate 'Lobid info' %}
        </h2>
        <p>
            {{ object.interim_designator }}
        </p>
        <h2 class="my-5">
            {% translate 'edit' %}
        </h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_daisy }}
            <input type="submit" id="submit-form" class="hidden">
        </form>
    </div>

{% endblock %}

{% block nav %}
    {% include 'dmad_on_django/partials/detail_sidebar.html' %}
{% endblock %}

{% block menu %}
    {% include 'dmad_on_django/partials/detail_navbar.html' %}
{% endblock %}

{% block navbar_title %}
    {% include 'dmad_on_django/partials/navbar_title.html' %}
{% endblock %}
