{% extends 'liszt_util/base.html' %}
{% load static %}


{% block content %}

<div class="bg-white p-5 border border-base-300 h-96 w-full">
    <div class="prose">
        <h2> Liste </h2>
        <div id="search-results">
            {% include 'dmad_on_django/partials/search_results.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div class="flex-none prose" id="sidebar">
    {% if rework_count > 0 or stub_count > 0 %}
        <ul class="menu">
            <li>
                <h2 class="menu-title"> Filter </h2>
                <ul>
                    {% if rework_count > 0 %}
                        <li>
                            <button id="stub-toggle"> Rumpfdatensätze </button>
                            {% if type == 'rework' %}
                                <a href="{% url 'dmad_on_django:place_list' %}" class="active"> nachbearbeiten ({{ rework_count }}) </a> 
                            {% else %}
                                <a href="{% url 'dmad_on_django:place_list' 'rework' %}"> nachbearbeiten ({{ rework_count }}) </a> 
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if stub_count > 0 %}
                        <li>
                            {% if type == 'stub' %}
                                <a href="{% url 'dmad_on_django:place_list' %}" class="active"> Rumpfdatensätze ({{ stub_count }})</a>
                            {% else %}
                                <a href="{% url 'dmad_on_django:place_list' 'stub' %}"> Rumpfdatensätze ({{ stub_count }})</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}

{%block menu%}
{%include 'dmad_on_django/partials/navbar.html'%}
{%endblock%}

{% block navbar_extras %}
    {% if not type %}
    {% include 'dmad_on_django/partials/search_form.html' with action_url=request.path hx_get=request.path %}
    {% endif %}
    {% include 'dmad_on_django/partials/create_button.html' %}
{% endblock %}


