{% extends 'dmad_on_django/base.html' %}
{% load static %}


{% block content %}

<div class="bg-white p-5 border border-base-300 h-96 w-full">
    <div class="prose">
        <h2> Liste </h2>
        <div id="search-results">
            {% include 'dmad_on_django/partials/search_results.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block sidebar %}
<div class="flex-none prose" id="sidebar">
    {% if rework_count > 0 or stub_count > 0 %}
        <ul class="menu">
            <li>
                <h2 class="menu-title"> Filter </h2>
                <ul>
                    {% if rework_count > 0 %}
                        <li>
                            <button id="stub-toggle"> Rumpfdatensätze </button>
                            {% if type == 'rework' %}
                                <a href="{% url 'dmad_on_django:place_list' %}" class="active"> nachbearbeiten ({{ rework_count }}) </a> 
                            {% else %}
                                <a href="{% url 'dmad_on_django:place_list' 'rework' %}"> nachbearbeiten ({{ rework_count }}) </a> 
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if stub_count > 0 %}
                        <li>
                            {% if type == 'stub' %}
                                <a href="{% url 'dmad_on_django:place_list' %}" class="active"> Rumpfdatensätze ({{ stub_count }})</a>
                            {% else %}
                                <a href="{% url 'dmad_on_django:place_list' 'stub' %}"> Rumpfdatensätze ({{ stub_count }})</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}
<div class="flex-none prose" id="sidebar">
    {% if rework_count > 0 or stub_count > 0 %}
	<ul class="menu">
	    <li>
		<h2 class="menu-title"> Filter </h2>
		<ul>
		    {% if rework_count > 0 %}
			<li>
			    <button id="stub-toggle"> Rumpfdatensätze </button>
			    {% if type == 'rework' %}
				<a href="{% url 'dmad_on_django:person_list' %}" class="active" > nachbearbeiten ({{ rework_count }}) </a> 
			    {% else %}
				<a href="{% url 'dmad_on_django:person_list' 'rework' %}" > nachbearbeiten ({{ rework_count }}) </a> 
			    {% endif %}
			</li>
		    {% endif %}
		    {% if stub_count > 0 %}
			<li>
			    {% if type == 'stub' %}
				<a href="{% url 'dmad_on_django:person_list' %}" class="active"> Rumpfdatensätze ({{ stub_count }})</a>
			    {% else %}
				<a href="{% url 'dmad_on_django:person_list' 'stub' %}"> Rumpfdatensätze ({{ stub_count }})</a>
			    {% endif %}
			</li>
		    {% endif %}
		</ul>
	    </li>
	</ul>
    {% endif %}
</div>

{%block menu%}
{%include 'dmad_on_django/partials/navbar.html'%}
{%endblock%}

{% block navbar_extras %}
    {% if not type %}
    <form
        method="get"
        action="{% url 'dmad_on_django:place_list' %}"
        class="m-0"
        hx-get="{% url 'dmad_on_django:place_list' %}"
        hx-target="#search-results"
        hx-trigger="input"
        hx-push-url="true"
    >
        {{ form.q }}
        <input class="btn" type="submit" value="Suchen" />
    </form>
    {% endif %}
    <a href="{% url 'dmad_on_django:place_create' %}" class="btn btn-primary"> Datensatz anlegen </a>
{% endblock %}
