{% extends 'liszt_util/base.html' %}
{% load static %}
{% load i18n %}


{% block content %}

<div class="bg-white p-5 border border-base-300 h-96 w-full">
    <div class="prose">
        <h2>{% trans "List" %}</h2>
        <div id="search-results">
            {% include 'dmad_on_django/partials/search_results.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block nav %}
<div class="flex-none prose" id="sidebar">
    {% if rework_count > 0 or stub_count > 0 %}
        <ul class="menu">
            <li>
                <h2 class="menu-title">{% trans "Filter" %}</h2>
                <ul>
                    {% if rework_count > 0 %}
                        <li>
                            {% if type == 'rework' %}
                                <a href="{% url 'dmad_on_django:subject_term_list' %}" class="active">{% trans "rework" %} ({{ rework_count }})</a>
                            {% else %}
                                <a href="{% url 'dmad_on_django:subject_term_list' 'rework' %}">{% trans "rework" %} ({{ rework_count }})</a>
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if stub_count > 0 %}
                        <li>
                            {% if type == 'stub' %}
                                <a href="{% url 'dmad_on_django:subject_term_list' %}" class="active">{% trans "Stub records" %} ({{ stub_count }})</a>
                            {% else %}
                                <a href="{% url 'dmad_on_django:subject_term_list' 'stub' %}">{% trans "Stub records" %} ({{ stub_count }})</a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
{% endblock %}

{%block menu%}
{%include 'dmad_on_django/partials/navbar.html'%}
{%endblock%}

{% block navbar_extras %}
    {% if not type %}
    {% include 'dmad_on_django/partials/search_form.html' with action_url=request.path hx_get=request.path %}
    {% endif %}
    {% include 'dmad_on_django/partials/create_button.html' %}
{% endblock %}


