{% extends 'liszt_util/base.html' %}
{% load i18n %}

{% block content %}

<div class="flex-1">
    <div class="prose">
	<h2 class="card-title mt-0"> {{ object.get_designator }} </h2>

	<p>
        {% blocktrans %}The link to the GND will be removed. The dataset will then be referred to as <em>{{ object.interim_designator }}</em>. Please confirm.{% endblocktrans %}
	</p>
    </div>

    <div>
	<form method="post">
	    {% csrf_token %}
	    <input type="submit" id="submit-form" class="hidden">
	</form>
    </div>
</div>
{% with prefix='dmad_on_django:'|add:entity_type %}
<div class="flex-0 flex flex-col">
    <div class="flex-1"></div>
    <ul class="menu gap-5 flex-0">
	<li> 
	    <a class="btn" href="{% url prefix|add:'_update' object.id %}">
		{% trans "Cancel" %}
	    </a>
	</li>
	<li>
	    <label class="btn btn-primary" for="submit-form">{% trans "Confirm" %}</label>
	</li>
    </ul>
</div>
{% endwith %}
{% endblock %}