{% extends 'edwoca/base.html' %}

{% block menu %}
{% endblock %}

{% block content %}

    <div class="bg-white border border-base-300 p-5">
	{% if unchanged %}
	    Es gibt keine Änderungen am Datensatz.
	{% else %}
	    <div class="prose">
		<p>
		    <em> Kopf </em>
		    {% if object.items.all.0.get_current_signature.strip == compare_object.items.all.0.get_current_signature.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.items.all.0.get_current_signature.strip %}
			    {{ object.items.all.0 }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.items.all.0.get_current_signature.strip %}
			    {{ compare_object.items.all.0}}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<p>
		    <em> Quellenart </em> 
		    {% if object.manifestation_form.strip == compare_object.manifestation_form.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.manifestation_form.strip %}
			    {{ object.manifestation_form }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.manifestation_form.strip %}
			    {{ compare_object.manifestation_form }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<p>
		    <em> Widmung </em>
		    {% if object.dedication.strip == compare_object.dedication.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.dedication.strip %}
			    {{ object.dedication }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.dedication.strip %}
			    {{ compare_object.dedication }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<p>
		    <em> Eckdaten Werk </em>
		    {% if object.language.strip == compare_object.language.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.language.strip %}
			    {{ object.language }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.language.strip %}
			    {{ compare_object.language }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<h3> Manuskriptspezifika </h3>

		<h4> Schrift </h4>
		<p>
		    {% if object.handwriting.strip == compare_object.handwriting.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.handwriting.strip %}
			    {{ object.handwriting }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.handwriting.strip %}
			    {{ compare_object.handwriting }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		    <h4> Umfang </h4>

		    {% if object.extent.strip == compare_object.extent.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.extent.strip %}
			    {{ object.extent }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.extent.strip %}
			    {{ compare_object.extent }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<h4> Papier </h4>
		<p>
		    {% if object.paper.strip == compare_object.paper.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			{% if object.paper.strip %}
			    {{ object.paper }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
			&rarr;
			{% if compare_object.paper.strip %}
			    {{ compare_object.paper }}
			{% else %}
			    <span class="badge"> keine Angabe </span>
			{% endif %}
		    {% endif %}
		</p>

		<h3> Kommentar </h3>
		<p>
		    {% if object.private_comment.strip == compare_object.private_comment.strip %}
			<span class="badge"> keine Änderungen </span>
		    {% else %}
			<h4> vorher </h4>
			{{ object.private_comment|linebreaks }}
			<h4> nachher </h4>
			{{ compare_object.private_comment|linebreaks }}
		    {% endif %}
		</p>

		<h3> Bezüge </h3>

		{% if unchanged_relations %}
		    <span class="badge"> keine Änderungen </span>
		{% else %}
		    <h4> vorher </h4>
		    <p>
			{% for manifestation_relation in object.source_manifestation_of.all %}
			    {{ manifestation_relation.target_manifestation.items.all.0 }} ({{ manifestation_relation.label }})
			{% empty %}
			    <span class="badge"> keine ausgehenden Bezüge </span>
			{% endfor %}
		    </p>

		    <h4> nachher </h4>
		    <p>
			{% for manifestation_relation in compare_object.source_manifestation_of.all %}
			    {{ manifestation_relation.target_manifestation.items.all.0 }} ({{ manifestation_relation.label }})
			{% empty %}
			    <span class="badge"> keine ausgehenden Bezüge </span>
			{% endfor %}
		    </p>
		{% endif %}

	    </div>

	    <form method="post">
		{% csrf_token %}
		{{ form.as_daisy }}

		<input type="submit" value="{{ button_label }}" id="submit-form" class="hidden">
	    </form>
	{% endif %}
    </div>

{% endblock %}

{% block navbar_extras %}
    <div class="badge badge-primary min-h-inherit p-5 rounded-none border-r-0 text-xl font-bold">M-{{ object.id }}</div>
{% endblock %}

{% block navbar_title %}
    <h1 class="text-3xl font-bold"> {{object}} </h1>
{% endblock %}

{% block nav %}
<div class="flex flex-col h-full">
	<div class="flex-1">
	</div>
	<div class="flex-0">
	    <ul class="menu gap-5">
		{% if unchanged %}
		    <li>
			<a href="{% url 'dmrism:manifestation_detail' object.id %}" class="btn"> bestätigen </a>
		    </li>
		{% else %}
		    <li>
			<a href="{% url 'dmrism:manifestation_reject_pull' object.id %}" class="btn"> abbrechen </a>
		    </li>
		    <li>
			<a href="{% url 'dmrism:manifestation_confirm_pull' object.id %}" class="btn btn-primary"> bestätigen </a>
		    </li>
		{% endif %}
	    </ul>
	</div>
</div>
{% endblock %}
