{% extends 'liszt_util/base.html' %}


{% block menu %}
{% endblock %}

{% block content %}

<div class="border bg-white border-base-300 p-5">
    <div class="prose">
	<ul id="result-list" class="list-disc">
	    {% include 'dmrism/partials/result_list.html' %}
	</ul>
    </div>
	{% if page_obj.paginator.num_pages > 1 %}
	    <div class="pagination">
		<span class="join my-10">
		    {% if page_obj.has_previous %}
			<a href="?page=1" class="btn join-item"> &laquo; </a>
			<a href="?page={{ page_obj.previous_page_number }}" class="btn join-item"> &lsaquo; </a>
		    {% endif %}
		</span>
		<span class="current btn join-item btn-primary">
		    Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
		</span>
		    {% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}" class="join-item btn"> &rsaquo; </a>
			<a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn"> &raquo; </a>
		    {% endif %}
		</span>
	    </div>
	{% endif %}
    </div>
{% endblock %}

{% block navbar_extras %}
    {{ block.super }}
    <form action="{% url 'dmrism:manifestation_search' %}" method="get" class="m-0">
	{{ form.q }}
	<input type="submit" class="btn">
    </form>
    <a class="btn btn-primary rounded-none min-h-inherit" href="{% url 'dmrism:manifestation_create' %}"> neu </a>
{% endblock %}

{% block nav %}
{% endblock %}
