{% extends 'liszt_util/base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-1">
  <!-- main content-->

  <div>
    {% if count > 0 %}

    <div class="border bg-white border-base-300 p-5">
      <div class="prose">
        <ul id="result-list" class="list-disc">
          {% for bib in object_list %}
          <li>
            <a href="#"> {{ bib.zot_title }} </a>
          </li>
          {% empty %}
          <li>
            <em> keine Treffer </em>
          </li>
          {% endfor %}
        </ul>
      </div>
	{% if page_obj.paginator.num_pages > 1 %}
    <div class="pagination">
      <span class="join my-10">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="btn join-item"> &laquo; </a>
        <a href="?page={{ page_obj.previous_page_number }}" class="btn join-item"> &lsaquo; </a>
        {% endif %}
        <span class="current btn join-item btn-primary">
          Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="join-item btn"> &rsaquo; </a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn"> &raquo; </a>
        {% endif %}
      </span>
    </div>
	{% endif %}
    </div>

    {% else %}

    <div class="card shadow mt-5">
      <div class="card-body">
        <h2 class="card-title mt-0"> Keine Titel </h2>
        <p>
          Bitte spielen Sie die Bibliographie ein. Nutzen Sie dazu die Aktion im <em> Gefahrenbereich </em>.
        </p>
      </div>
    </div>

    {% endif %}
  </div>
</div>

{% if count > 0 %}
<script>
  const dashboard_info_link = "{% url 'bib:dashboard_info' %}";
</script>
<script src="{% static 'bib/dashboard_info.js' %}"></script>
{% endif %}

{% endblock %}

{% block menu %}
{% include 'bib/partials/dashboard_sidebar.html' %}
{% endblock %}

{% block nav %}
{% endblock %}