<p class="m-0 truncate">
	<span class="mr-5">
		<em> Kommentar: </em>
	</span>
	{% if object.private_comment %}
		<span class="inline-block w-48 truncate mr-5">
			{{ object.private_comment }}
		</span>
	{% else %}
		<span class="badge badge-primary">!</span> kein interner Kommentar
	{% endif %}
	{% if object.public_comment %}
		<span class="inline-block w-48 truncate mr-5">
			{{ object.public_comment }}
		</span>
	{% else %}
		<span class="badge badge-primary">!</span> kein externer Kommentar
	{% endif %}
</p>
{% if object.taken_information %}
<p class="m-0 truncate">
	<span class="badge badge-primary mr-5">
		übernommene Informationen
	</span>
	{{ object.taken_information }}
</p>
{% endif %}

