<p class="m-0">
	<span class="mr-5">
		<em>Datierung und Ort</em>:
	</span>
	{{ object.date_diplomatic|default:'' }}
	{{ object.places.all|join:", "|default:'<span class="badge badge-primary">ohne Ort</span>' }}
	{{ object.period.display.strip|default:'<span class="badge badge-primary">ohne Jahr</span>' }}
</p>
<p class="truncate m-0">
{% if object.private_history_comment %}
	<span class="badge badge-primary mr-5">Kommentar</span>
	<span class="truncate">
		{{ object.private_history_comment }}
	</span>
{% endif %}
</p>
