{% load i18n %}

<p>
    <span class="mr-5">
        <em>
            {% translate 'source type' %}:
        </em>
    </span>
    {% if object.get_edition_type %}
        <span class="mr-5">
            {{ object.get_edition_type }}
        </span>
    {% else %}
        <span class="badge badge-primary">!</span>
        {% translate 'no edition type' %}
    {% endif %}
    {% if object.get_source_type %}
    <span class="mr-5">
        {{ object.get_source_type }}
    </span>
    {% endif %}
    {% if object.manifestation_form %}
    <span class="mr-5">
        {{ object.get_manifestation_form_display }}
    </span>
    {% endif %}
    {% if object.function %}
    <span class="mr-5">
        {{ object.get_function_display }}
    </span>
    {% endif %}
</p>
