@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
@tailwind layout;

@font-face {
    font-family: 'BeausiteClassicWeb';
    src: url('fonts/BeausiteClassicWeb-Clear-BJz0vUPX.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassicWeb';
    src: url('fonts/BeausiteClassicWeb-Regular-Dywx2iCt.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BeausiteClassicWeb';
    src: url('fonts/BeausiteClassicWeb-Semibold-Chyi-LBS.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MakeWayWeb';
    src: url('fonts/MakeWayWeb-Regular-BfRbPMXa.woff');
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
}

h2 {
    @apply text-primary;
}

.hidden {
    display: none;
}

/* stylings for sumoselect */
p.CaptionCont {
    width: 100%;
    border-radius: var(--rounded-btn,0.5rem);
}

p.CaptionCont label i {
    background-image: none;
}

div.modal-box {
    max-width: 64rem;
}
