{% extends 'liszt_util/base.html' %}

{% block menu %}
    {% include 'edwoca/partials/update_menu_switcher.html' %}
{% endblock %}

{% block navbar_title %}
    {% include 'edwoca/partials/title.html' %}
{% endblock %}

{% block navbar_extras %}
    {% include 'edwoca/partials/badge_switcher.html' with object=object %}
    {{ block.super }}
{% endblock %}

{% block nav %}
<div class="flex flex-col h-full">
	<div class="flex-1">
		-- Navigation --
	</div>
	<div class="flex-0">
		<label for="submit-form" class="btn btn-primary"> speichern </label>
	</div>
</div>
{% endblock %}