{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/bib_prolog.html' %}
    <form class="hidden" method="post" id="form">
        {% csrf_token %}
        <input type="submit" id="submit-form">
    </form>

    <h2 class="my-5">
        {% translate 'bibliography' %}
    </h2>

    <ul>
        {% for bib_form in manifestation_bib_forms %}
            <li>
                <div class="gap-5 items-end p-5 my-5 bg-base-100">
                    <div class="label">
                        <span class="label-text">
                            {% translate 'title' %}
                        </span>
                    </div>
                    <div class="pseudo-input bg-white border border-black flex items-center">
                        {{ bib_form.instance.bib }}
                    </div>
                    {{ bib_form.as_daisy }}
                    <div class="flex">
                        <div class="flex-1"></div>
                        <form method="post" action="{% url 'edwoca:'|add:entity_type|add:'_bib_remove' bib_form.instance.id %}" class="flex-0 mb-0">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-outline btn-primary" value="{% translate 'remove reference' %}">
                        </form>
                    </div>
                </div>
            </li>
        {% empty %}
            <li class='my-5'>
                <em>
                    {% translate 'no bibliographic datasets have been linked' %}
                </em>

            </li>
        {% endfor %}
    </ul>

    {% if show_zotitem_search_form == True %}

    <form action="{% url 'edwoca:'|add:entity_type|add:'_bibliography' object.id %}" method="get" class="flex">
        <input type="text" class="input input-bordered border-black bg-white flex-1 border-r-0" name="zotitem-q" placeholder="{% translate 'search bibliography' %}" value="{{ zotitem_query }}" />
        <input type="hidden" name="target_model" value="{{ entity_type}}" />
        <input type="submit" id="submit-form" class="btn btn-outline" value="{% translate 'search' %}"/>
    </form>

    {% if zotitem_query %}
        <ul class="border border-black p-2 h-32 overflow-auto">
            {% for found_bib in found_bibs %}
                <li>
                    <form method="POST" class="m-0" action="{% url 'edwoca:'|add:entity_type|add:'_bib_add' object.id found_bib.object.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="{{ found_bib.object }}" class="cursor-pointer">
                    </form>
                </li>
            {% empty %}
                <li>
                    <em>
                        {% translate 'no search results' %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% endif %}

    <h2 class="my-5">
        {% translate 'letters' %}
    </h2>

    <ul>
        {% for letter in object.letters.all %}
            <li>
                <div class="flex gap-5">
                    <div class="flex-1 pseudo-input border border-black flex items-center">
                        {{ letter }}
                    </div>
                    <form method="post" action="{% url 'edwoca:'|add:entity_type|add:'_letter_remove' object.id letter.id %}" class="flex-0">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline btn-primary" value="{% translate 'remove' %}">
                    </form>
                </div>
            </li>
        {% empty %}
            <li class='my-5'>
                <em>
                    {% translate 'no letters have been linked' %}
                </em>
            </li>
        {% endfor %}
    </ul>

    {% if show_letter_search_form == True %}

    <form action="{% url 'edwoca:'|add:entity_type|add:'_bibliography' object.id %}" method="get" class="flex">
        <input type="text" class="input input-bordered border-black bg-white flex-1 border-r-0" name="letter-q" placeholder="{% translate 'search letters' %}" value="{{ letter_query }}" />
        <input type="hidden" name="target_model" value="{{ entity_type }}" />
        <input type="submit" id="submit-form" class="btn btn-outline" value="{% translate 'search' %}"/>
    </form>

    {% if letter_query %}
        <ul class="border border-black p-2 h-32 overflow-auto">
            {% for found_letter in found_letters %}
                <li>
                    <form method="POST" class="m-0" action="{% url 'edwoca:'|add:entity_type|add:'_letter_add' object.id found_letter.object.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="{{ found_letter.object }}" class="cursor-pointer">
                    </form>
                </li>
            {% empty %}
                <li>
                    <em>
                        {% translate 'no search results' %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endif %}

{% include 'edwoca/partials/manifestation/preview-divs/bib_epilog.html' %}

{% endblock %}
