{% extends 'edwoca/base.html' %}


{% block content %}

{% include 'edwoca/partials/preview_contributor_prolog.html' %}

<div class="bg-white border border-base-300 p-5">
	<div class="prose">
		<h2> Beteiligte </h2>

		<ul>
		{% for contributor in object.contributor_relations.all %}
			<li>
				<div class="flex">
					<a href="{% url 'dmad_on_django:person_update' contributor.person.id %}" class="flex-1">
						{{ contributor.person }} ({{ contributor.role }})
					</a>
					<form method="post" action="{% url 'edwoca:'|add:entity_type|add:'_contributor_remove' contributor.id %}" class="flex-0">
						{% csrf_token %}
						<input type="submit" class="btn btn-small" value="entfernen">
					</form>
				</div>
			</li>
		{% empty %}
			<li> <em> keine Beteiligte verknüpft </em> </li>
		{% endfor %}
		</ul>

		<h3> neuen Beteiligten verknüpfen </h3>

		{% if show_search_form == True %}

		<form action="{% url 'edwoca:'|add:entity_type|add:'_contributors' object.id %}" method="get">
			{{ searchform.q }}
			<input type="hidden" name="target_model" value="{{ entity_type }}" />
			<input type="submit" id="submit-form" class="btn" />
		</form>
		
		<ul>
		{% if query %}
			{% for found_contributor in found_contributors %}
				<li>
					<a href="{% url 'edwoca:'|add:entity_type|add:'_contributor_add' object.id found_contributor.object.id %}">
						{{ found_contributor.object }}
					</a>
				</li>
			{% empty %}
				<li> <em> keine Suchergebnisse </em> </li>
			{% endfor %}
		{% else %}
			<li> <em> bitte Suchbegriff eingeben </em> </li>
		{% endif %}
		</ul>

		{% else %}

		<form method="post">
			{% csrf_token %}
			{{ person }} mit {{ object }} verknüpfen als:
			{{ form }}
			<input type="submit" id="submit-form" class="btn" />
		</form>

		{% endif %}
	</div>

</div>

{% include 'edwoca/partials/preview_contributor_epilog.html' %}

{% endblock %}
