{% extends 'liszt_util/base.html' %}

{% block menu %}

{% include 'edwoca/partials/update_menu_switcher.html' %}

{% endblock %}

{% block navbar_title %}

{% include 'edwoca/partials/title.html' %}

{% endblock %}

{% block content %}

<div class="bg-white border border-base-300 p-5">
	<div class="prose">
		<h2> Beteiligte </h2>

		<ul>
		{% for contributor in object.contributor_relations.all %}
			<li>
				<div class="flex">
					<a href="{% url 'dmad_on_django:person_update' contributor.person.id %}" class="flex-1">
						{{ contributor.person }} ({{ contributor.role }})
					</a>
					<form method="post" action="{% url 'edwoca:work_contributor_remove' contributor.id %}" class="flex-0">
						{% csrf_token %}
						<input type="submit" class="btn btn-small" value="entfernen">
					</form>
				</div>
			</li>
		{% empty %}
			<li> <em> keine Beteiligte verknüpft </em> </li>
		{% endfor %}
		</ul>

		<h3> neuen Beteiligten verknüpfen </h3>

		{% if show_search_form == True %}

		<form action="{% url 'edwoca:work_contributors' object.id %}" method="get">
			{{ searchform.q }}
			<input type="hidden" name="target_model" value="work" />
			<input type="submit" id="submit-form" class="btn" />
		</form>
		
		<ul>
		{% if query %}
			{% for found_contributor in found_contributors %}
				<li>
					<a href="{% url 'edwoca:work_contributor_add' object.id found_contributor.object.id %}">
						{{ found_contributor.object }}
					</a>
				</li>
			{% empty %}
				<li> <em> keine Suchergebnisse </em> </li>
			{% endfor %}
		{% else %}
			<li> <em> bitte Suchbegriff eingeben </em> </li>
		{% endif %}
		</ul>

		{% else %}

		<form method="post">
			{% csrf_token %}
			{{ person }} mit {{ object }} verknüpfen als:
			{{ form }}
			<input type="submit" id="submit-form" class="btn" />
		</form>

		{% endif %}
	</div>

</div>

{% endblock %}

{% block nav %}
<div class="flex flex-col h-full">
	<div class="flex-1">
		-- Navigation --
	</div>
	<div class="flex-0">
		<label for="submit-form" class="btn btn-primary"> speichern </label>
	</div>
</div>
{% endblock %}

{% block navbar_extras %}
{% endblock %}
