{% extends 'edwoca/base.html' %}

{% block content %}
<div class="bg-white border border-base-300 p-5">
    <h2 class="card-title mt-0">Neuen Druck anlegen</h2>

    {% if search_form %}
        <form class="flex gap-5">
            <div class="flex-1">
                {{ search_form.as_daisy }}
            </div>
            <input id="submit-form" type="submit" value="Suche" class="hidden" />
        </form>
        {% if publisher_list %}
        <ul>
            {% for publisher in publisher_list %}
                <li>
                    <a href="{% url 'edwoca:manifestation_create' publisher.object.id %}">
                        {{ publisher.object }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

    {% if form %}
    <form method="post" class="mt-5">
        {% csrf_token %}
        {{ form.as_daisy }}
        <input type="submit" value="Speichern" class="btn mt-5">
    </form>
    {% endif %}

</div>
{% endblock %}
