{% extends 'edwoca/base.html' %}

{% load i18n %}
{% load edwoca_extras %}

{% block modals %}

{% endblock %}

{% block content %}

{% include 'edwoca/partials/item/preview-divs/manuscript_prolog.html' %}

<h2 class="card-title mt-0 mb-5">
    {% translate 'item characteristics' %}
</h2>

<form id="form" method="post" class="hidden">
    {% csrf_token %}
    <input type="submit" id="submit-form">
</form>

<div class="collapse collapse-arrow bg-base-100 my-5">
    <input type="checkbox" />
    <div class="collapse-title">
        <span class="mr-5">
            {% translate 'source type' %}*
        </span>
        {{ object.get_source_type_display|default:'--------' }}
    </div>
    <div class="collapse-content">
            <div class="join">
                <button class="justify-start btn btn-outline {% if not object.source_type %}btn-active{% endif %} bg-white" form="form" type="submit" name="set-type-none">
                    -------
                </button>
                <button class="justify-start btn btn-outline {% if object.source_type == 'PRC' %}btn-active{% endif %} bg-white" form="form" type="submit" name="set-type-proof-copy">
                    {% translate 'proof copy' %}
                </button>
                <button class="justify-start btn btn-outline {% if object.source_type == 'APC' %}btn-active{% endif %} bg-white" form="form" type="submit" name="set-type-annotated-proof-copy">
                    {% translate 'annotated proof copy' %}
                </button>
            </div>
    </div>
</div>

{{ completeness_form.as_daisy }}

{% if not object.source_type == 'PRC' %}

    {{ form.as_daisy }}

    {{ function_form.as_daisy }}

{% endif %}

{% if object.source_type == 'APC' %}

    <div class="mt-5">
        <h3 class="text-lg font-bold mb-5 prose">
            {% translate 'annotations' %}
        </h3>
        {% for annotation in annotations %}
            <div class="collapse bg-base-100 collapse-arrow my-5">
                <input
                    type="checkbox"
                    {% if open_collapse == annotation.form.instance.id and collapse_type == 'annotation' %}
                        checked
                    {% endif %}
                />
                <div class="collapse-title truncate">
                    {{ annotation.form.instance }}
                </div>
                <div class="collapse-content mt-5">
                    {{ annotation.form.collection_component_as_daisy }}
                    {{ annotation.form.as_daisy }}
                    <div class="mt-5">
                        <h3>
                            {% translate 'annotation writers / hands' %}
                        </h3>
                        {% for form in annotation.handwriting_forms %}
                            {% include 'edwoca/partials/forms/handwriting_form.html' with model='annotationhandwriting' app='dmrism' %}
                        {% endfor %}

                        <div class="flex">
                            <div class="flex-1"></div>
                            <div class="flex-0">
                                <button form="form" type="submit" name="add-annotation-handwriting" value="{{ annotation.form.instance.id }}" class="btn btn-outline mt-3">
                                    {% translate 'create handwriting' %}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <button form="form" value="{{ annotation.form.instance.id }}" name="remove-annotation" class="btn btn-primary btn-outline mt-3">
                            {% translate 'remove annotation' %}
                        </button>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="note">
                {% translate 'no annotations' %}
            </p>
        {% endfor %}
        <div class="flex justify-end">
            <button form="form" name="add-annotation" class="btn btn-outline mt-3">
                {% translate 'create annotation' %}
            </button>
        </div>
    </div>

{% endif %}

{% if object.source_type == 'MPR' %}

    <div class="mt-5">
        <div class="mt-5">
            <h3>{% translate 'writers / hands' %}</h3>
            {% for form in handwriting_forms %}
                <div class="bg-base-100 p-5 my-5">
                    {% include 'edwoca/partials/forms/handwriting_form.html' with model='itemhandwriting' app='dmrism' %}
                </div>
            {% endfor %}
            <div class="flex justify-end">
                <button class="btn btn-outline mt-3" name="add-handwriting" form="form">
                    {% translate 'create writer' %}
                </button>
            </div>
        </div>
    </div>

{% endif %}

<h3 class="my-5">
    {% translate 'comment' %}
</h3>

{{ form.comment_as_daisy }}

{% include 'edwoca/partials/item/preview-divs/manuscript_epilog.html' %}

{% endblock %}
