{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/item/preview-divs/dedication_prolog.html' %}

<h2 class="my-5">
    {% translate 'dedication' %}
</h2>

<form method="post" class="hidden" id="form">
    {% csrf_token %}
    <input type="submit" id="submit-form" />
</form>

<h3 class="my-5">
    {% translate 'person dedications' %}
</h3>

{% for person_dedication_form in person_dedication_forms %}
    {% include 'edwoca/partials/forms/dedication_form.html' with dedication_form=person_dedication_form dedicatee_class='person' %}
{% empty %}
    <p class="note"> {% translate 'no person dedications' %} </p>
{% endfor %}
<div class="flex items-center mt-5">
    <div class="flex-1"></div>
    <button class="btn-outline btn flex-0" name="create-person-dedication" type="submit" form="form">
        {% translate 'create person dedication' %}
    </button>
</div>

<h3 class="my-5">
    {% translate 'corporation dedications' %}
</h3>
{% for corporation_dedication_form in corporation_dedication_forms %}
    {% include 'edwoca/partials/forms/dedication_form.html' with dedication_form=corporation_dedication_form dedicatee_class='corporation' %}
{% empty %}
    <p class="note">
        {% translate 'no corporation dedications' %}
    </p>
{% endfor %}
<div class="flex items-center mt-5">
    <div class="flex-1"></div>
    <button class="btn-outline btn flex-0" name="create-corporation-dedication" type="submit" form="form">
        {% translate 'create corporation dedication' %}
    </button>
</div>

{% include 'edwoca/partials/item/preview-divs/dedication_epilog.html' %}

{% endblock %}
