{% extends 'edwoca/base.html' %}
{% load i18n %}

{% block content %}

<h2 class="card-title mt-0">
    {% translate 'item' %}
</h2>

<form id="form" class="hidden" method="post">
    {% csrf_token %}
    <input type="submit" id="submit-form">
</form>

{{ form.as_daisy }}

<h3 class="text-lg font-bold mt-5">
    {% translate 'locations' %}
</h3>

{% for form in signature_forms %}
    <div class="my-5">
        {{ form.as_daisy }}
    </div>
    <div class="flex">
        <div class="flex-1"></div>
        <button type="submit" name="remove-signature" value="{{ form.instance.pk }}" form="form" class="btn btn-outline text-primary">
            {% translate 'remove signature' %}
        </button>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <button type="submit" name="add-signature" form="form" class="flex-0 btn btn-outline mt-2">
        {% translate 'create location' %}
    </button>
</div>

{% include 'edwoca/partials/item/preview-divs/head_epilog.html' %}

{% endblock %}
