{% extends 'edwoca/base.html' %}

{% load i18n %}
{% load edwoca_extras %}

{% block modals %}

{% endblock %}

{% block content %}

{% include 'edwoca/partials/item/preview-divs/manuscript_prolog.html' %}

{# probably the view should use a generic template for item and manifestation manuscript characteristics #}
<h2 class="card-title mt-0 mb-5">
    {% translate 'item characteristics' %}
</h2>

<form id="form" method="post" class="hidden">
    {% csrf_token %}
    <input type="submit" id="submit-form">
</form>

{{ form.as_daisy }}

{{ completeness_form.as_daisy }}

<div class="mt-5">
    <h3 class="text-lg font-bold mb-5 prose">
        {% translate 'modifications' %}
    </h3>
    {% for modification in modifications %}
        {% for modification in modifications %}
            {% include 'edwoca/partials/forms/_modification_form.html' with modification=modification %}
        {% empty %}
            <p class="note">
                {% translate 'no modifications' %}
            </p>
        {% endfor %}
    {% endfor %}
    <div class="flex justify-end">
        <button form="form" name="add-modification" class="btn btn-outline mt-3">
            {% translate 'create modification' %}
        </button>
    </div>
</div>

{% include 'edwoca/partials/item/preview-divs/manuscript_epilog.html' %}

{% endblock %}
