{% extends 'edwoca/base.html' %}

{% block modals %}
    {% for form in forms %}
        <div class="modal" role="dialog" id="digital-copy-modal-{{ form.instance.id }}">
            <div class="modal-box w-11/12 max-w-5xl">
                <h3 class="text-lg font-bold">Digitale Kopie bearbeiten</h3>
                <form method="post" class="mt-5">
                    {% csrf_token %}
                    {{ form.management_form }}

                    {{ form.as_daisy }}

                    <input type="submit" name="save_changes" value="Speichern" class="hidden" id="save-button-{{ form.instance.id }}">
                </form>

                <div class="modal-action flex-0 m-0">
                    <label for="save-button-{{ form.instance.id }}" class="btn btn-primary">Speichern</label>
                    <a href="#" class="btn">Schließen</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}

{% include 'edwoca/partials/item/preview-divs/digcopy_prolog.html' %}

<div class="bg-white border border-base-300 p-5">
    <h2 class="card-title mt-0 flex-1"> Digitale Kopien für {{ object }} </h2>

    <div class="mt-5">
    {% for digital_copy in object.digital_copies.all %}
        <div class="flex gap-5 items-center mb-2 p-2 rounded-lg">
            <div class="flex-1 m-0">
                <p class="font-bold">{{ digital_copy.url }}</p>
                <p>{{ digital_copy.get_link_type_display }}</p>
            </div>
            <a href="#digital-copy-modal-{{ digital_copy.id }}" class="btn flex-0"> bearbeiten </a>
            <form action="{% url 'edwoca:item_digital_copy_delete' digital_copy.id %}" method="post" class="flex-0 m-0">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="löschen"/>
            </form>
        </div>
    {% empty %}
        <p> keine digitalen Kopien vorhanden </p>
    {% endfor %}
    </div>
    <div class="flex items-center">
        <div class="flex-1"></div>
        <a href="{% url 'edwoca:item_digital_copy_add' object.id %}" class="btn flex-0"> Digitale Kopie hinzufügen </a>
    </div>

</div>

{% include 'edwoca/partials/item/preview-divs/digcopy_epilog.html' %}

{% endblock %}
