{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/item/preview-divs/relations_prolog.html' %}

<h2 class="my-5">
    {% translate 'manifestation' %}
</h2>

<a href="{% url 'edwoca:manifestation_relations' object.manifestation.id %}"> {{ object.manifestation }} </a>

<h2 class="my-5">
    {% translate 'composites' %}
</h2>

<p class="note">
    🚧 under construction 🚧
</p>

{% include 'edwoca/partials/item/preview-divs/relations_epilog.html' %}

{% endblock %}
