{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}
<h2 class="my-5">
    {% translate 'date' %}
</h2>

<form id="form" method="post" class="mt-5">
    {% csrf_token %}
    <input type="submit" value="Speichern" class="hidden" id="submit-form">
</form>

{{ edition_period_form.as_daisy }}
{{ form.diplomatic_date_as_daisy }}
{{ source_period_form.as_daisy }}

<h3 class="my-5">
    {% translate 'sender' %}
</h3>

{% for sender_person_form in sender_person_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='person' search_type='person' field_name='person' app='edwoca' model_name='sender_person' target_app='dmad' target_model='person' target_id='edition_sender_person' id='{{ sender_person_form.instance.id }}' placeholder='search persons' multiplicity='multiple' %}
        </div>

        {{ sender_person_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post" class="mb-0">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-sender-person" value="{{ sender_person_form.instance.id }}" form="form">
                        {% translate 'remove sender person' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-sender-person" form="form">
                {% translate 'add sender person' %}
            </button>
        </form>
    </div>
</div>

{% for sender_corporation_form in sender_corporation_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='corporation' search_type='corporation' field_name='corporation' app='edwoca' model_name='sender_corporation' target_app='dmad' target_model='corporation' target_id='edition_sender_corporation' id='{{ sender_corporation_form.instance.id }}' placeholder='search corporations' multiplicity='multiple' %}
        </div>

        {{ sender_corporation_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-sender-corporation" value="{{ sender_corporation_form.instance.id }}" form="form">
                        {% translate 'remove sender corporation' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-sender-corporation" form="form">
                {% translate 'add sender corporation' %}
            </button>
        </form>
    </div>
</div>

<h3 class="my-5">
    {% translate 'receiver' %}
</h3>

{% for receiver_person_form in receiver_person_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='person' search_type='person' field_name='person' app='edwoca' model_name='receiver_person' target_app='dmad' target_model='person' target_id='edition_receiver_person' id='{{ receiver_person_form.instance.id }}' placeholder='search persons' multiplicity='multiple' %}
        </div>

        {{ receiver_person_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-receiver-person" value="{{ receiver_person_form.instance.id }}" form="form">
                        {% translate 'remove receiver person' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-receiver-person" form="form">
                {% translate 'add receiver person' %}
            </button>
        </form>
    </div>
</div>

{% for receiver_corporation_form in receiver_corporation_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='corporation' search_type='corporation' field_name='corporation' app='edwoca' model_name='receiver_corporation' target_app='dmad' target_model='corporation' target_id='edition_receiver_corporation' id='{{ receiver_corporation_form.instance.id }}' placeholder='search corporations' multiplicity='multiple' %}
        </div>

        {{ receiver_corporation_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-receiver-corporation" value="{{ receiver_corporation_form.instance.id }}" form="form">
                        {% translate 'remove receiver corporation' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-receiver-corporation" form="form">
                {% translate 'add receiver corporation' %}
            </button>
        </form>
    </div>
</div>

<h3>
    {% translate 'places' %}
</h3>

{% for receiver_place_form in receiver_place_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='place' search_type='place' field_name='place' app='edwoca' model_name='receiver_place' target_app='dmad' target_model='place' target_id='edition_receiver_place' id='{{ receiver_place_form.instance.id }}' placeholder='search places' multiplicity='multiple' %}
        </div>

        {{ receiver_place_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-receiver-place" value="{{ receiver_place_form.instance.id }}" form="form">
                        {% translate 'remove receiver place' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-receiver-place" form="form">
                {% translate 'add receiver place' %}
            </button>
        </form>
    </div>
</div>

{% for sender_place_form in sender_place_forms %}
    <div class="border border-black my-5 p-5">
        <div>
            {% include 'edwoca/partials/htmx/search.html' with label='place' search_type='place' field_name='place' app='edwoca' model_name='sender_place' target_app='dmad' target_model='place' target_id='edition_sender_place' id='{{ sender_place_form.instance.id }}' placeholder='search places' multiplicity='multiple' %}
        </div>

        {{ sender_place_form.as_daisy }}

        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <form method="post">
                    <button class="btn btn-primary btn-outline" type="submit" name="remove-sender-place" value="{{ sender_place_form.instance.id }}" form="form">
                        {% translate 'remove sender place' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex">
    <div class="flex-1"></div>
    <div class="flex-0">
        <form method="post">
            <button class="btn btn-outline" type="submit" name="add-sender-place" form="form">
                {% translate 'add sender place' %}
            </button>
        </form>
    </div>
</div>

<h3>
    {% translate 'editions' %}
</h3>

<div class="my-5">
    {% for letter_mentioning_form in letter_mentioning_forms %}
        <div class="flex gap-5 items-center mb-2">
            <input type="text" value="{{ letter_mentioning_form.instance.bib.zot_short_title }} / {{ letter_mentioning_form.instance.bib }}" class="pseudo-input flex-1 border-black border w-full truncate" disabled />
            <label class="bg-white input input-bordered flex-0 flex items-center border-black gap-2 w-48">
                <span class="flex-0 min-w-0">
                    {% translate 'pages' %}
                </span>
                {{ letter_mentioning_form.pages }}
                {% if letter_mentioning_form.pages.errors %}
                    <div class="label">
                        <span class="label-text-alt text-primary">
                            {{ letter_mentioning_form.pages.errors.0 }}
                        </span>
                    </div>
                {% endif %}
            </label>
            <a href="{% url 'edwoca:letter_remove_edition' object.id letter_mentioning_form.instance.bib.zot_key %}" class="btn btn-outline flex-0"> {% translate 'remove' %} </a>
        </div>
    {% endfor %}
</div>

<div class="mb-10">
    <div class="items-center">
        <form method="get" class="flex">
            <label class="bg-white input input-bordered border-r-0 border-black flex items-center gap-2 flex-1">
                Edition
                <input type="text" name="edition-q" class="grow" {% if query_edition %}value="{{ query_edition }}"{% endif %}>
            </label>
            <input type="submit" class="btn btn-outline flex-0" value="{% translate 'search' %}"/>
        </form>
    </div>
    {% if query_edition %}
        <ul class="border border-black p-2 h-32 overflow-auto">
        {% for edition in found_editions %}
            <li>
                <a href="{% url 'edwoca:letter_add_edition' object.id edition.pk %}">{{ edition.object }}</a>
            </li>
        {% empty %}
            <li>Keine Suchergebnisse</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{{ form.comment_as_daisy }}

{% endblock %}
