{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}
<h2 class="my-5">
    {% translate 'date' %}
</h2>

<form id="form" method="post" class="mt-5">
    {% csrf_token %}
    <input type="submit" class="hidden" id="submit-form">
</form>

{{ edition_period_form.as_daisy }}

<div class="bg-base-100 p-5">
    {{ form.diplomatic_date_as_daisy }}
    {{ source_period_form.as_daisy }}
</div>

<h2 class="my-5">
    {% translate 'sender' %}
</h2>

{% for sender_person_form in sender_person_forms %}
    {% translate 'remove sender person' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=sender_person_form target='person' contributor=sender_person_form.instance.person model_name='senderperson' role='sender' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-sender-person" form="form">
            {% translate 'add sender person' %}
        </button>
    </div>
</div>

{% for sender_corporation_form in sender_corporation_forms %}
    {% translate 'remove sender corporation' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=sender_corporation_form target='corporation' contributor=sender_corporation_form.instance.corporation model_name='sendercorporation' role='sender' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-sender-corporation" form="form">
            {% translate 'add sender corporation' %}
        </button>
    </div>
</div>

<h2 class="my-5">
    {% translate 'receiver' %}
</h2>

{% for receiver_person_form in receiver_person_forms %}
    {% translate 'remove receiver person' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=receiver_person_form target='person' contributor=receiver_person_form.instance.person model_name='receiverperson' role='receiver' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-receiver-person" form="form">
            {% translate 'add receiver person' %}
        </button>
    </div>
</div>

{% for receiver_corporation_form in receiver_corporation_forms %}
    {% translate 'remove receiver corporation' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=receiver_corporation_form target='corporation' contributor=receiver_corporation_form.instance.corporation model_name='receivercorporation' role='receiver' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-receiver-corporation" form="form">
            {% translate 'add receiver corporation' %}
        </button>
    </div>
</div>

<h2>
    {% translate 'places' %}
</h2>

{% for receiver_place_form in receiver_place_forms %}
    {% translate 'remove receiver place' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=receiver_place_form target='place' contributor=receiver_place_form.instance.place model_name='receiverplace' role='receiver' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-receiver-place" form="form">
            {% translate 'add receiver place' %}
        </button>
    </div>
</div>

{% for sender_place_form in sender_place_forms %}
    {% translate 'remove sender place' as remove_button_label %}
    {% include 'edwoca/partials/letter/contributor_form.html' with form=sender_place_form target='place' contributor=sender_place_form.instance.place model_name='senderplace' role='sender' remove_button_label=remove_button_label %}
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" type="submit" name="add-sender-place" form="form">
            {% translate 'add sender place' %}
        </button>
    </div>
</div>

<h2>
    {% translate 'editions' %}
</h2>

<div class="my-5">
    {% for letter_mentioning_form in letter_mentioning_forms %}
        <div class="border border-black p-5">
            <label class="form-control">
                <div class="label">
                    <span class="label-text">
                        {% translate 'edition' %}
                    </span>
                </div>
                <div type="text"  class="pseudo-input flex items-center border-black border w-full truncate">
                    {{ letter_mentioning_form.instance.bib.zot_short_title }}
                </div>
            </label>
            {{ letter_mentioning_form.as_daisy }}
            <div class="flex">
                <div class="flex-1"></div>
                <a href="{% url 'edwoca:letter_remove_edition' object.id letter_mentioning_form.instance.bib.zot_key %}" class="btn btn-outline btn-primary flex-0"> {% translate 'remove bib' %} </a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="mb-10">
    <div class="items-center">
        <form method="get" class="flex">
            <label class="bg-white input input-bordered border-r-0 border-black flex items-center gap-2 flex-1">
                <input type="text" placeholder="{% translate 'search editions' %}" name="edition-q" class="grow" {% if query_edition %}value="{{ query_edition }}"{% endif %}>
            </label>
            <input type="submit" class="btn btn-outline flex-0" value="{% translate 'search' %}"/>
        </form>
    </div>
    {% if query_edition %}
        <ul class="border border-black p-2 h-32 overflow-auto">
        {% for edition in found_editions %}
            <li>
                <a href="{% url 'edwoca:letter_add_edition' object.id edition.pk %}">{{ edition.object }}</a>
            </li>
        {% empty %}
            <li>
                {% translate 'no search results' %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

<h2 class="my-5">
    {% translate 'letter proof' %}
</h2>

{% for letter_signature_form in letter_signature_forms %}
    <div class="my-5 px-5 border border-black">
        {{ letter_signature_form.as_daisy }}
        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <button class="btn btn-outline btn-primary mb-5" form="form" name="remove-signature" value="{{ letter_signature_form.instance.id }}">
                    {% translate 'remove letter signature' %}
                </button>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" name="add-signature" form="form">
            {% translate 'add letter signature' %}
        </button>
    </div>
</div>

{% for letter_digitized_copy_form in letter_digitized_copy_forms %}
    <div class="gap-5 p-5 my-5 px-5 border border-black">
        {{ letter_digitized_copy_form.as_daisy }}
        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <button type="submit" class="btn btn-primary btn-outline w-full" name="remove-letter-digcopy" value="{{ letter_digitized_copy_form.instance.id }}" form="form">
                    {% translate 'remove digital copy' %}
                </button>
            </div>
        </div>
    </div>
{% endfor %}

<div class="flex my-5">
    <div class="flex-1"></div>
    <div class="flex-0">
        <button class="btn btn-outline" name="add-digcopy" form="form">
            {% translate 'add letter digital copy' %}
        </button>
    </div>
</div>

<h2 class="my-5">
    {% translate 'work relations' %}
</h2>

{{ form.work_mentionings_as_daisy }}

<h2 class="my-5">
    {% translate 'comment' %}
</h2>

{{ form.comment_as_daisy }}

{{ form.editing_history_as_daisy }}

{% endblock %}
