{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block menu %}
<ul class="menu">
    <li>
        <a href="{% url 'edwoca:work_search' %}"
            class="flex {% if list_entity_type == 'work' %}active{% endif %}"
            >
            <span class="flex-1">Werke</span>
            <span class="flex-0 ml-5"> {{ work_count }} </span>
        </a>
    </li>
    <li>
        <a href="{% url 'edwoca:expression_search' %}"
            class="flex {% if list_entity_type == 'expression' %}active{% endif %}"
            >
            <span class="flex-1">Fassungen</span>
            <span class="flex-0 ml-5"> {{ expression_count }} </span>
        </a>
    </li>
    <li class="flex">
        <a href="{% url 'edwoca:singleton_search' %}"
            class="flex {% if list_entity_type == 'singleton' %}active{% endif %}"
            >
            <span class="flex-1">Handschriften</span>
            <span class="flex-0 ml-5"> {{ singleton_count }} </span>
        </a>
    </li>
    <li>
        <a href="{% url 'edwoca:manifestation_search' %}"
            class="flex {% if list_entity_type == 'manifestation' %}active{% endif %}"
            >
            <span class="flex-1">Drucke</span>
            <span class="flex-0 ml-5"> {{ manifestation_count }} </span>
        </a>
    </li>
    <li class="flex">
        <a href="{% url 'edwoca:item_search' %}"
            class="flex {% if list_entity_type == 'item' %}active{% endif %}"
            >
            <span class="flex-1">Druckexemplare</span>
            <span class="flex-0 ml-5"> {{ item_count }} </span>
        </a>
    </li>
    <li>
        <a href="{% url 'edwoca:composite_search' %}"
            class="flex {% if list_entity_type == 'composite' %}active{% endif %}"
            >
            <span class="flex-1">Konvolute</span>
            <span class="flex-0 ml-5"> {{ composite_count }} </span>
        </a>
    </li>
    <li>
        <a href="{% url 'edwoca:library_search' %}"
            class="flex {% if list_entity_type == 'library' %}active{% endif %}"
            >
            <span class="flex-1">Bibliotheken</span>
            <span class="flex-0 ml-5"> {{ library_count }} </span>
        </a>
    </li>
    <li>
        <a href="{% url 'edwoca:letter_search' %}"
            class="flex {% if list_entity_type == 'letter' %}active{% endif %}"
            >
            <span class="flex-1">Briefe</span>
            <span class="flex-0 ml-5"> {{ letter_count }} </span>
        </a>
    </li>
</ul>
{% endblock %}

{% block content %}

<div>
    <div class="flex">
        <div class="pagination flex-1">
            {% if page_obj.paginator.num_pages > 1 %}
                <span class="join mb-5 ml-5">
                    {% if page_obj.has_previous %}
                        <a href="?page=1&q={{ query }}" class="btn-outline btn join-item"> &laquo; </a>
                        <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}" class="btn-outline btn join-item"> &lsaquo; </a>
                    {% endif %}
                <span class="current border-black btn-outline btn join-item text-primary">
                    {% translate 'page' %} {{ page_obj.number }} {% translate 'of' %} {{ page_obj.paginator.num_pages }}
                </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}&q={{ query }}" class="join-item btn-outline btn"> &rsaquo; </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}" class="join-item btn-outline btn"> &raquo; </a>
                    {% endif %}
                </span>
            {% endif %}
            <div class="prose">
                <ul id="result-list">
                    {% include 'edwoca/partials/result_list.html' %}
                </ul>
            </div>
        </div>
        <div class="stats flex-0 bg-white h-32">
        {% if query %}
            <div class="stat">
                <div class="stat-title">
                    {% translate 'result' %}
                    {{ first_result_on_page }}
                    {% translate 'to' %}
                    {{ last_result_on_page }}
                    {% translate 'of' %}
                </div>
                <div class="stat-value">{{ total_results }}</div>
                <div class="stat-desc">{% translate 'for query' %} <em>{{ query }}</em></div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block navbar_extras %}
{{ block.super }}
    {% include 'edwoca/partials/search_form_switcher.html' %}
    <div class="dropdown dropdown-end min-h-inherit">
        <div tabindex="0" role="button" class="text-xl flex mx-10 items-center text-primary rounded-btn min-h-inherit rounded-none">{% translate 'create' %}</div>
    <ul
        tabindex="0"
        class="menu dropdown-content rounded-box z-[1] mt-4 w-52 p-2 shadow bg-white">
        <li>
            <a href="{% url 'edwoca:work_create' %}">{% translate 'work' %}</a>
        </li>
        <li>
            <a href="{% url 'edwoca:singleton_create' %}">{% translate 'manuscript' %}</a>
        </li>
        <li>
            <a href="{% url 'edwoca:manifestation_create' %}">{% translate 'print' %}</a>
        </li>
        <li>
            <a href="{% url 'edwoca:composite_create' %}">{% translate 'composite' %}</a>
        </li>
        <li>
            <a href="{% url 'edwoca:library_create' %}">{% translate 'library' %}</a>
        </li>
        <li>
            <a href="{% url 'edwoca:letter_create' %}">{% translate 'letter' %}</a>
        </li>
    </ul>
    </div>
{% endblock %}

{% block nav %}
{% endblock %}
