{% extends 'edwoca/base.html' %}


{% block menu %}
<ul class="menu">
	<li>
	    <a href="{% url 'edwoca:work_search' %}"
		{% if list_entity_type == 'work' %} class="active" {% endif %}>
		Werke <span class="badge"> {{ work_count }} </span>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:expression_search' %}"
		{% if list_entity_type == 'expression' %} class="active" {% endif %}>
		Fassungen <span class="badge"> {{ expression_count }} </span> <br>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:singleton_search' %}"
		{% if list_entity_type == 'singleton' %} class="active" {% endif %}>
		Handschriften <span class="badge"> {{ singleton_count }} </span>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:manifestation_search' %}"
		{% if list_entity_type == 'manifestation' %} class="active" {% endif %}>
		Drucke <span class="badge"> {{ manifestation_count }} </span>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:item_search' %}"
		{% if list_entity_type == 'item' %} class="active" {% endif %}>
		Druckexemplare <span class="badge"> {{ item_count }} </span>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:library_search' %}"
		{% if list_entity_type == 'library' %} class="active" {% endif %}>
		Bibliotheken <span class="badge"> {{ library_count }} </span>
	    </a>
	</li>
	<li>
	    <a href="{% url 'edwoca:letter_search' %}"
		{% if list_entity_type == 'letter' %} class="active" {% endif %}>
		Briefe <span class="badge"> {{ letter_count }} </span>
	    </a>
	</li>
</ul>
{% endblock %}

{% block content %}

<div class="border bg-white border-base-300 p-5">
	<div class="flex">
	    <div class="pagination flex-1">
	    {% if page_obj.paginator.num_pages > 1 %}
		<span class="join mb-5 ml-5">
		    {% if page_obj.has_previous %}
			<a href="?page=1&q={{ query }}" class="btn join-item"> &laquo; </a>
			<a href="?page={{ page_obj.previous_page_number }}&q={{ query }}" class="btn join-item"> &lsaquo; </a>
		    {% endif %}
		<span class="current btn join-item btn-primary">
		Seite {{ page_obj.number }} von {{ page_obj.paginator.num_pages }}
		</span>
		    {% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}&q={{ query }}" class="join-item btn"> &rsaquo; </a>
			<a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}" class="join-item btn"> &raquo; </a>
		    {% endif %}
		</span>
	    {% endif %}
	    <div class="prose">
		    <ul id="result-list" class="list-disc">
			    {% include 'edwoca/partials/result_list.html' %}
		    </ul>
	    </div>
	    </div>
	    <div class="stats flex-0 h-32">
	    {% if query %}
		<div class="stat">
		    <div class="stat-title">Ergebnis {{ first_result_on_page }} bis {{ last_result_on_page }} von</div>
		    <div class="stat-value">{{ total_results }}</div>
		    <div class="stat-desc">für Suche nach <em>{{ query }}</em></div>
		</div>
	    {% endif %}
	    </div>
	</div>
</div>
{% endblock %}

{% block navbar_extras %}
{{ block.super }}
    {% include 'edwoca/partials/search_form_switcher.html' %}
    <div class="dropdown dropdown-end min-h-inherit">
	<div tabindex="0" role="button" class="btn btn-primary rounded-btn min-h-inherit rounded-none">neu</div>
	<ul
	    tabindex="0"
	    class="menu dropdown-content rounded-box z-[1] mt-4 w-52 p-2 shadow bg-white">
	    <li>
		<a href="{% url 'edwoca:work_create' %}">Werk</a>
	    </li>
	    <li>
		<a href="{% url 'edwoca:manifestation_create' %}">Manifestation</a>
	    </li>
	    <li>
		<a href="{% url 'edwoca:library_create' %}">Bibliothek</a>
	    </li>
	    <li>
		<a href="{% url 'edwoca:letter_create' %}">Brief</a>
	    </li>
	</ul>
    </div>
{% endblock %}

{% block nav %}
{% endblock %}
