{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block modals %}
{% endblock %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/digitized_copy_prolog.html' %}

<h2>
    {% translate 'digital copies' %}
</h2>

<form method="post" id="form" class="mt-5 flex flex-col gap-5 mb-10">
    {% csrf_token %}
    <input type="submit" name="save_changes" class="hidden" id="submit-form">
</form>

{% for form in forms %}
    <div class="border border-black p-5 my-5">
        {{ form.as_daisy }}
        <div class="flex">
            <div class="flex-1"></div>
            <div class="flex-0">
                <button name="remove-digital-copy" value="{{form.instance.id}}" type="submit" form="form" class="btn-outline btn-primary btn flex-0">
                    {% translate 'remove digital copy' %}
                </button>
                </label>
            </div>
        </div>
    </div>
{% empty %}
    <p class="note">
        {% translate 'no digital copies' %}
    </p>
{% endfor %}

<div class="flex items-center">
    <div class="flex-1"></div>
    <button name="add-digital-copy" type="submit" form="form" class="btn-outline btn flex-0">
        {% translate 'add digital copy' %}
    </button>
</div>

{% endblock %}
