{% extends 'edwoca/base.html' %}

{% block content %}

<div class="bg-white border border-base-300 p-5">
	<div class="prose">
	{% if object.is_singleton %}
		<h2> Manuskript </h2>
		
		<!-- {{ object }} ist ein <em>Manuskript</em>. -->
		<a class="btn btn-primary" href="{% url 'edwoca:manifestation_unset_singleton' object.id %}">
			Druck
		</a>
		{% if object.missing_item %}
			<a class="btn btn-primary" href="{% url 'edwoca:manifestation_unset_missing' object.id %}">
				nicht verschollen
			</a>
		{% else %}
			<a class="btn btn-primary" href="{% url 'edwoca:manifestation_set_missing' object.id %}">
				verschollen
			</a>
		{% endif %}

		<form method="post">
			{% csrf_token %}
			{{ manifestation_form.as_daisy }}
			{% if object.missing_item %}
				<p> Dieses Manuskript ist verschollen. </p>
			{% else %}
				<h3>Standorte</h3>
				{{ signature_formset.management_form }}
				{% for form in signature_formset %}
					<div class="signature-form">
						{{ form.as_daisy }}
					</div>
				{% endfor %}

				
				<div class="flex">
					<div class="flex-1"></div>
					<input type="submit" name="add_signature" value="Standort hinzufügen" class="flex-0 btn btn-secondary mt-2">
				</div>
			{% endif %}
			<input type="submit" name="save_changes" value="Speichern" id="submit-form" class="hidden">
		</form>

	{% else %}
		<h2> Druck </h2>
		
		<!-- {{ object }} ist ein <em>Druck</em>. -->
		{% if object.items.count > 1 %}
			<p>
				Falls Sie diese Manifestation als <em>Manuskript</em> oder <em> verschollen </em> deklarieren möchten, löschen Sie alle Exemplare außer eines.
			</p>
		{% else %}
			<a class="btn btn-primary" href="{% url 'edwoca:manifestation_set_singleton' object.id %}">
				Manuskript
			</a>
			{% if object.missing_item %}
				<a class="btn btn-primary" href="{% url 'edwoca:manifestation_unset_missing' object.id %}">
					nicht verschollen
				</a>
			{% else %}
				<a class="btn btn-primary" href="{% url 'edwoca:manifestation_set_missing' object.id %}">
					verschollen
				</a>
			{% endif %}
		{% endif %}

		<form method="post">
			{% csrf_token %}
			{{ manifestation_form.as_daisy }}
			<input type="submit" name="save_changes" value="Speichern" id="submit-form" class="hidden">
		</form>

		<h3>Vorlageexemplar</h3>
		{% for signature in object.template_item.signatures.all %}
			<div class="signature-form">
				<div class="flex gap-10 mb-5">
					<label class="items-center input input-bordered flex-1 gap-5 flex" disabled>
						Bibliothek
						<input class="w-full grow" value="{{ signature.library }}"/>
					</label>
					<label class="input input-bordered flex-0 gap-5 items-center flex" disabled>
						Status
						<input class="w-12" value="{{ signature.status }}"/>
					</label>
				</div>
				<label class="items-center input input-bordered flex-1 gap-5 flex" disabled>
					Signatur
					<input class="w-full grow" value="{{ signature.signature }}"/>
				</label>
			</div>
		{% endfor %}
		
	{% endif %}
	</div>
</div>

{% include 'edwoca/partials/manifestation/preview-divs/head_epilog.html' %}

{% endblock %}
