{% extends 'edwoca/base.html' %}

{% block content %}
{% include 'edwoca/partials/manifestation/preview-divs/classification_prolog.html' %}

<form method="post" id="form">
    {% csrf_token %}
    <div class="flex flex-col xl:flex-row gap-10">
        <div class="flex-1">
            {{ form.as_daisy }}
        </div>
        <div class="flex-1">
            {{ form.edition_type_as_daisy }}
            {{ function_form.as_daisy }}
        </div>
    </div>

    <input type="submit" value="{{ button_label }}" id="submit-form" class="hidden">
</form>

{% include 'edwoca/partials/manifestation/preview-divs/classification_epilog.html' %}

{% endblock %}
