{% extends 'edwoca/base.html' %}
{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/print_prolog.html' %}

<h2 class="mb-5"> {% translate 'publisher and print characteristics' %} </h2>

<h3 class="my-5"> {% translate 'publication' %}</h3>

<form method="post" id="form"> {% csrf_token %} <input type="submit" class="hidden" id="submit-form"> </form>

{% for publication in publications %}
    <div class="border border-black p-5 my-5">
        {% if publication.publication.publisher %}
            <div class="flex gap-5 items-end mb-5">
                <label class="flex-1 form-control">
                    <div class="label">
                        <span class="label-text">
                            {% translate 'publisher' %}
                        </span>
                    </div>
                    <div class="pseudo-input border-black flex items-center border">
                        {{ publication.publication.publisher.get_designator }}
                    </div>
                </label>
                <button form="form" class="flex-0 btn btn-outline flex-0 btn-primary" name="remove-publisher" value="{{ publication.publication.id }}">
                    {% translate 'remove' %}
                </button>
            </div>
        {% else %}
            <div id="search-container-publication-{{ publication.publication.id}}-publisher">
                {% include 'edwoca/partials/htmx/search.html' with label='publisher' search_type='corporation' field_name='publisher' app='dmrism' model_name='publication' target_app='dmad' target_model='corporation' target_id=publication.publication.id id=publication.publication.id placeholder='search corporations' %}
            </div>
        {% endif %}
        {% for publication_place_form in publication.publication_place_forms %}
            {% if publication_place_form.instance.place %}
                <div class="flex gap-5 items-end mb-5">
                    <label class="flex-1 form-control">
                        <div class="label">
                            <span class="label-text">
                                {% translate 'place' %}
                            </span>
                        </div>
                        <div class="pseudo-input border flex items-center border-black bg-white">
                            {{ publication_place_form.instance.place }}
                        </div>
                    </label>
                    <button form="form" class="flex-0 btn btn-outline flex-0 btn-primary" name="remove-place" value="{{ publication_place_form.instance.id }}">
                        {% translate 'remove' %}
                    </button>
                </div>
            {% else %}
                <div id="search-container-publicationplace-{{ publication_place_form.instance.id }}-place">
                    {% include 'edwoca/partials/htmx/search.html' with label='place' search_type='place' field_name='place' app='dmrism' model_name='publicationplace' target_app='dmad' target_model='place' target_id=publication.publication.id id=publication_place_form.instance.id placeholder='search places' %}
                </div>
            {% endif %}
            {{ publication_place_form.as_daisy }}
            <div class="flex justify-end">
                <button form="form" name="remove-publication-place" value="{{ publication_place_form.instance.id }}" class="btn btn-outline btn-primary">
                    {% translate 'remove place' %}
                </button>
            </div>
        {% endfor %}
        <div class="mt-5 flex justify-end">
            <button form="form" name="add-publication-place" class="btn btn-outline" value="{{ publication.publication.id }}">
                {% translate 'add place' %}
            </button>
        </div>
        <div class="flex mt-5">
            <div class="flex-1"></div>
            <button value="{{ publication.publication.id }}" name="remove-publication" form="form" class="btn btn-outline btn-primary">
                {% translate 'remove publication' %}
            </button>
        </div>
    </div>
{% endfor %}


<div class="flex justify-end mt-5">
    <button name="add-publication" form="form" class="btn btn-outline">
        {% translate 'add publication' %}
    </button>
</div>

<h3 class="my-5">
    {% translate 'more information' %}
</h3>

<div class="my-5">
    {{ form.platenumber_as_daisy }}
</div>

{% if object.stitcher %}
    <div class="flex my-5 gap-5 items-end">
        <label class="flex-1 form-control">
            <div class="label">
                <span class="label-text">
                    {% translate 'stitcher' %}
                </span>
            </div>
            <div class="pseudo-input flex items-center border border-black">
                {{ object.stitcher.get_designator }}
            </div>
        </label>
        <button class="flex-0 btn btn-outline btn-primary" name="remove-stitcher" form="form">
            {% translate 'remove' %}
        </button>
    </div>
{% else %}
    <div id="search-container-manifestation-{{ object.id }}-stitcher">
        {% include 'edwoca/partials/htmx/search.html' with label='stitcher' search_type='corporation' field_name='stitcher' app='dmrism' model_name='manifestation' target_app='dmad' target_model='corporation' target_id=publication.publication.id id=object.id placeholder='search corporations' %}
    </div>
{% endif %}

<div class="my-5">
    {{ form.price_as_daisy }}
</div>

<h3 class="my-5">
    {% translate 'date' %}
</h3>

{{ form.date_as_daisy }}

<h3 class="my-5">
    {% translate 'print characteristics' %}
</h3>

{{ form.print_characteristics_as_daisy }}
{{ text_type_form.as_daisy }}

<h3 class="my-5">
    {% translate 'comment' %}
</h3>

{{ form.comment_as_daisy }}

{% include 'edwoca/partials/manifestation/preview-divs/print_epilog.html' %}

{% endblock %}
