{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/provenance_prolog.html' %}

<form method="post" id="form" class="hidden">
    {% csrf_token %}
    <input type="submit" class="hidden" id="submit-form">
</form>

<h2 class="my-5">
    {% translate 'provenance persons' %}
</h2>

<div class="my-5">
    {% for pps_form in person_provenance_forms %}
        <div class="collapse collapse-arrow bg-base-100 my-5">
            <input type="checkbox" />
            <div class="collapse-title truncate">
                {{ pps_form.instance }}
            </div>
            <div class="collapse-content mt-5">
                {% if pps_form.instance.owner %}
                    <div class="flex items-center mt-5">
                        <label class="input input-bordered border-black border-r-0 bg-white flex-1 flex items-center gap-2">
                            {% translate 'owner' %}
                            <input type="text" class="grow" disabled value="{{ pps_form.instance.owner }}" />
                        </label>
                        <a class="btn btn-outline" href="{% url 'edwoca:person_provenance_remove_owner' item.id pps_form.instance.id %}">{% translate 'remove' %}</a>
                    </div>
                {% else %}
                    <form method="get" class="flex-1 flex mt-5">
                        <label class="input input-bordered border-black bg-white border-r-0 flex items-center gap-2 flex-1">
                            {% translate 'owner' %}
                            {{ owner_search_form.q }}
                        </label>
                        <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                    </form>
                    {% if found_persons %}
                        <ul class="border border-black p-2 h-32 overflow-auto">
                        {% for person in found_persons %}
                            <li>
                                <a href="{% url 'edwoca:person_provenance_add_owner' item.id pps_form.instance.id person.pk %}">{{ person.object }}</a>
                            </li>
                        {% empty %}
                            <li>
                                {% translate 'no search results' %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                <h3>
                    {% translate 'date provenance' %}
                </h3>

                {{ pps_form.as_daisy }}

                <h3>
                    {% translate 'bibliography' %}
                </h3>
                <ul>
                {% for bib in pps_form.instance.bib.all %}
                    <li>
                        <div class="flex gap-5 items-center">
                            <label class="input input-bordered flex-1 flex items-center gap-2">
                                {% translate 'bibliography' %}
                                <input type="text" class="grow" disabled value="{{ bib }}" />
                            </label>
                            <form method="post" action="{% url 'edwoca:person_provenance_remove_bib' item.id pps_form.instance.id bib.zot_key %}" class="flex-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-small" value="{% translate 'remove' %}">
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </ul>

                <form method="get" class="flex-1 flex mt-5 bg-white">
                    <label class="input input-bordered border-black bg-white border-r-0 flex items-center gap-2 flex-1">
                        {% translate 'bibliography' %}
                        {{ bib_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                </form>
                {% if found_bibs %}
                    <ul class="p-2 border border-black h-32 overflow-auto">
                    {% for bib in found_bibs %}
                        <li>
                            <a href="{% url 'edwoca:person_provenance_add_bib' item.id pps_form.instance.id bib.pk %}">{{ bib.object }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% translate 'no search results' %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <h3>
                    {% translate 'letters' %}
                </h3>
                <ul>
                {% for letter in pps_form.instance.letters.all %}
                    <li>
                        <div class="flex gap-5 items-center mt-5">
                            <label class="input input-bordered flex-1 flex items-center gap-2">
                                {% translate 'letter' %}
                                <input type="text" class="grow" disabled value="{{ letter }}" />
                            </label>
                            <form method="post" action="{% url 'edwoca:person_provenance_remove_letter' item.id pps_form.instance.id letter.id %}" class="flex-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-small" value="{% translate 'remove' %}">
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </ul>

                <form method="get" class="flex-1 flex bg-white mt-5">
                    <label class="input input-bordered flex border-r-0 border-black bg-white items-center gap-2 flex-1">
                        {% translate 'letter' %}
                        {{ letter_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                </form>
                {% if found_letters %}
                    <ul class="p-2 border border-black overflow-auto h-32">
                    {% for letter in found_letters %}
                        <li>
                            <a href="{% url 'edwoca:person_provenance_add_letter' item.id pps_form.instance.id letter.pk %}">{{ letter.object }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% translate 'no search results' %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}


            </div>
        </div>
    {% endfor %}
</div>

<div class="flex">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:person_provenance_add' item.id %}" class="btn btn-outline flex-0">
        {% translate 'add person provenance station' %}
    </a>
</div>

<h2 class="my-5">
    {% translate 'provenance corporations' %}
</h2>

<div class="my-5">
    {% for cps_form in corporation_provenance_forms %}
        <div class="collapse collapse-arrow bg-base-100 my-5">
            <input type="checkbox" />
            <div class="collapse-title truncate">
                {{ cps_form.instance }}
            </div>
            <div class="collapse-content mt-5">
                {% if cps_form.instance.owner %}
                    <div class="flex items-center mt-5">
                        <label class="input input-bordered border-black border-r-0 bg-white flex-1 flex items-center gap-2">
                            {% translate 'owner' %}
                            <input type="text" class="grow" disabled value="{{ cps_form.instance.owner }}" />
                        </label>
                        <a class="btn btn-outline" href="{% url 'edwoca:corporation_provenance_remove_owner' item.id cps_form.instance.id %}">{% translate 'remove' %}</a>
                    </div>
                {% else %}
                    <form method="get" class="flex-1 flex mt-5">
                        <label class="input input-bordered border-black bg-white border-r-0 flex items-center gap-2 flex-1">
                            {% translate 'owner' %}
                            {{ owner_search_form.q }}
                        </label>
                        <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                    </form>
                    {% if found_corporations %}
                        <ul class="border border-black p-2 h-32 overflow-auto">
                        {% for corporation in found_corporations %}
                            <li>
                                <a href="{% url 'edwoca:corporation_provenance_add_owner' item.id cps_form.instance.id corporation.pk %}">{{ corporation.object }}</a>
                            </li>
                        {% empty %}
                            <li>
                                {% translate 'no search results' %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                <h3>
                    {% translate 'date provenance' %}
                </h3>

                {{ cps_form.as_daisy }}

                <h3>
                    {% translate 'bibliography' %}
                </h3>
                <ul>
                {% for bib in cps_form.instance.bib.all %}
                    <li>
                        <div class="flex gap-5 items-center">
                            <label class="input input-bordered flex-1 flex items-center gap-2">
                                {% translate 'bibliography' %}
                                <input type="text" class="grow" disabled value="{{ bib }}" />
                            </label>
                            <form method="post" action="{% url 'edwoca:corporation_provenance_remove_bib' item.id cps_form.instance.id bib.zot_key %}" class="flex-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-small" value="{% translate 'remove' %}">
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </ul>

                <form method="get" class="flex-1 flex mt-5 bg-white">
                    <label class="input input-bordered border-black bg-white border-r-0 flex items-center gap-2 flex-1">
                        {% translate 'bibliography' %}
                        {{ bib_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                </form>
                {% if found_bibs %}
                    <ul class="p-2 border border-black h-32 overflow-auto">
                    {% for bib in found_bibs %}
                        <li>
                            <a href="{% url 'edwoca:corporation_provenance_add_bib' item.id cps_form.instance.id bib.pk %}">{{ bib.object }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% translate 'no search results' %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                <h3>
                    {% translate 'letters' %}
                </h3>
                <ul>
                {% for letter in cps_form.instance.letters.all %}
                    <li>
                        <div class="flex gap-5 items-center mt-5">
                            <label class="input input-bordered flex-1 flex items-center gap-2">
                                {% translate 'letter' %}
                                <input type="text" class="grow" disabled value="{{ letter }}" />
                            </label>
                            <form method="post" action="{% url 'edwoca:corporation_provenance_remove_letter' item.id cps_form.instance.id letter.id %}" class="flex-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-small" value="{% translate 'remove' %}">
                            </form>
                        </div>
                    </li>
                {% endfor %}
                </ul>

                <form method="get" class="flex-1 flex bg-white mt-5">
                    <label class="input input-bordered flex border-r-0 border-black bg-white items-center gap-2 flex-1">
                        {% translate 'letter' %}
                        {{ letter_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline" value="{% translate 'search' %}"/>
                </form>
                {% if found_letters %}
                    <ul class="p-2 border border-black overflow-auto h-32">
                    {% for letter in found_letters %}
                        <li>
                            <a href="{% url 'edwoca:corporation_provenance_add_letter' item.id cps_form.instance.id letter.pk %}">{{ letter.object }}</a>
                        </li>
                    {% empty %}
                        <li>
                            {% translate 'no search results' %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}


            </div>
        </div>
    {% endfor %}
</div>

<div class="flex">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:corporation_provenance_add' item.id %}" class="btn btn-outline flex-0">
        {% translate 'add corporation provenance station' %}
    </a>
</div>

<h2>
    {% translate 'provenance comment' %}
</h2>
    {{ provenance_comment_form.as_daisy }}

{% include 'edwoca/partials/manifestation/preview-divs/provenance_epilog.html' %}

{% endblock %}
