{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/history_prolog.html' %}

<h2>
    {% translate 'date' %}
</h2>

<form method="post" id="form">
    {% csrf_token %}
    {{ form.as_daisy }}
    <input type="submit" value="{{ button_label }}" id="submit-form" class="hidden">
</form>

<h2 class="my-5">
    {% translate 'place (standardized)' %}
</h2>

<div class="my-5">
    {% for place_form in place_forms %}
        <div class="flex gap-5">
            <div class="flex-1 pseudo-input border border-black items-center flex gap-5">
                <span>
                    {% translate 'place' %}
                </span>
                <span>
                    {{ place_form.instance.place }}
                </span>
            </div>
            <form method="post" action="{% url 'edwoca:manifestation_remove_place' object.id place_form.instance.id %}" class="flex-0">
                {% csrf_token %}
                <input type="submit" class="btn btn-small btn-primary btn-outline" value="{% translate 'remove' %}">
            </form>
        </div>
        {{ place_form.as_daisy }}
    {% empty %}
        <em>
            {% translate 'no linked place' %}
        </em>
    {% endfor %}
</div>

<form action="{% url 'edwoca:manifestation_history' object.id %}" method="get" class="flex">
    <label class="input input-bordered flex items-center gap-2 flex-1 border-black bg-white">
        <span class="flex-0">
            {% translate 'place' %}
        </span>
        <input type="text" name="q" value="{{ query }}" class="flex-1" />
    </label>
    <input type="hidden" name="target_model" value="manifestation" />
    <input type="submit" id="submit-form" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
</form>

{% if query %}
    <ul class="border border-black p-2 h-32 overflow-auto">
        {% for found_place in found_places %}
            <li>
                <a href="{% url 'edwoca:manifestation_place_add' object.id found_place.object.id %}">
                    {{ found_place.object }}
                </a>
            </li>
        {% empty %}
            <li>
                <em>
                    {% translate 'no search results' %}
                </em>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include 'edwoca/partials/manifestation/preview-divs/history_epilog.html' %}

{% endblock %}
