{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/history_prolog.html' %}

<h2>
    {% translate 'date' %}
</h2>

<form method="post" id="form">
    {% csrf_token %}
    {{ form.as_daisy }}
    <input type="submit" value="{{ button_label }}" id="submit-form" class="hidden">
</form>

<h2 class="my-5">
    {% translate 'places' %}
</h2>

<div class="my-5">
    {% for place_form in place_forms %}
            {% comment %}
            <div class="flex-1">
                <div class="label">
                    <span class="label-text">
                        {% translate 'place' %}
                    </span>
                </div>
                <div class="flex-1 pseudo-input border border-black items-center flex gap-5">
                    {{ place_form.instance.place }}
                </div>
            </div>
            {% endcomment %}
        <form method="post" action="{% url 'edwoca:manifestation_remove_place' object.id place_form.instance.id %}" class="flex gap-5 mb-0">
            <div class="flex-1 pseudo-input border border-black items-center flex">
                {{ place_form.instance.place }}
            </div>
            {% csrf_token %}
            <input type="submit" class="flex-0 btn btn-small btn-primary btn-outline" value="{% translate 'remove' %}">
        </form>
        {{ place_form.as_daisy }}
    {% empty %}
        <p class="note">
            {% translate 'no linked place' %}
        </p>
    {% endfor %}
</div>

<form action="{% url 'edwoca:manifestation_history' object.id %}" method="get" class="flex w-full items-end">
    <label class="flex-1">
        <div class="label">
            <span class="label-text">
                {% translate 'place' %}
            </span>
        </div>
        <input type="text" name="q" value="{{ query }}" placeholder="{% translate 'search places' %}" class="w-full input bg-white border-black input-bordered flex-1" />
    </label>
    <input type="submit" id="submit-form" class="flex-0 btn btn-outline border-l-0" value="{% translate 'search' %}"/>
    <input type="hidden" name="target_model" value="manifestation" />
</form>

{% if query %}
    <ul class="border border-black p-2 h-32 overflow-auto">
        {% for found_place in found_places %}
            <li>
                <a href="{% url 'edwoca:manifestation_place_add' object.id found_place.object.id %}">
                    {{ found_place.object }}
                </a>
            </li>
        {% empty %}
            <li>
                <em>
                    {% translate 'no search results' %}
                </em>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<h2 class="my-5">
    {% translate 'comment' %}
</h2>

{{ form.comment_as_daisy }}

{% include 'edwoca/partials/manifestation/preview-divs/history_epilog.html' %}

{% endblock %}
