{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/title_prolog.html' %}

<h2 class="my-5"> {% translate 'title and dedication' %} </h2>

<form id="form" class="hidden" method="post"> {% csrf_token %} <input id="submit-form" type="submit" /> </form>

<h3 class="my-5"> {% translate 'title setting' %} </h3>

<label>
    <div class="label">
        <span class="label-text">
            {% translate source_title_form.source_title.label %}
        </span>
    </div>
    {{ source_title_form.source_title }}
</label>

<div class="mt-5">
{% for title_form in title_forms %}
    <div class="collapse collapse-arrow bg-base-100 my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {{ title_form.instance.title }}
        </div>
        <div class="collapse-content mt-5">
            {{ title_form.as_daisy }}

            <div class="mt-5">
                <h4 class="text-lg font-bold mb-5">{% translate 'writers/hands' %}</h4>
                {% for handwriting_form in title_form.handwriting_forms %}
                    {% if handwriting_form.instance.writer %}
                        <div class="flex items-center mb-5">
                            <label class="pseudo-input border border-black border-r-0 flex-1 flex items-center gap-2">
                                {% translate 'writer' %}
                                <input type="text" class="grow" disabled value="{{ handwriting_form.instance.writer }}" />
                            </label>
                            <a class="btn btn-outline" href="{% url 'edwoca:manifestation_title_remove_handwriting_writer' object.id handwriting_form.instance.id %}">{% translate 'remove' %}</a>
                        </div>
                    {% else %}
                        <div class="mb-5">
                            <div class="items-center">
                                <form action="{% url 'edwoca:manifestation_title' object.id %}" method="get">
                                    <label class="items-center flex-1">
                                        <div class="label">
                                            <span class="label-text">
                                                {% translate 'writer' %}
                                            </span>
                                        </div>
                                        <div class="flex">
                                            {{ search_form.q }}
                                            <input type="submit" class="btn flex-0 btn-outline border-l-0" value="{% translate 'search' %}"/>
                                        </div>
                                    </label>
                                    <input type="hidden" name="title_handwriting_id" value="{{ handwriting_form.instance.id }}">
                                </form>
                            </div>
                            {% if query and request.GET.title_handwriting_id|add:"0" == handwriting_form.instance.id %}
                                <ul class="border border-black p-2 h-32 overflow-auto">
                                {% for person in found_persons %}
                                    <li>
                                        <a href="{% url 'edwoca:manifestation_title_add_handwriting_writer' object.id handwriting_form.instance.id person.pk %}">{{ person.object }}</a>
                                    </li>
                                {% empty %}
                                    <li>{% translate 'no search results' %}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="flex gap-5 items-center mb-5 rounded-lg">
                        <div class="flex-1">
                            {{ handwriting_form.as_daisy }}
                        </div>
                        <form action="{% url 'edwoca:manifestation_title_handwriting_delete' handwriting_form.instance.id %}" method="post" class="flex-0 m-0">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-outline text-primary" value="{% translate 'remove' %}"/>
                        </form>
                    </div>
                {% endfor %}
                <div class="flex">
                    <div class="flex-1"></div>
                    <form method="post" class="flex-0">
                        {% csrf_token %}
                        <input type="hidden" name="add_title_handwriting_to_title_id" value="{{ title_form.instance.id }}">
                        <input type="submit" name="add_title_handwriting" value="{% translate 'create handwriting' %}" class="btn btn-outline mt-3">
                    </form>
                </div>
            </div>
            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_title_delete' title_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove title' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p> {% translate 'no titles' %}</p>
{% endfor %}
</div>
<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:manifestation_title_add' object.id%}" class="btn btn-outline flex-0"> {% translate 'create title' %}</a>
</div>

<h2 class="mb-5"> {% translate 'dedications' %} </h2>

<h3> {% translate 'person dedications' %} </h3>
{% for person_dedication_form in person_dedication_forms %}
    <div class="collapse bg-base-100 collapse-arrow my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {% if person_dedication_form.instance.place %}
                {{ person_dedication_form.instance.place.concise }}
                ({{ person_dedication_form.instance.period}}):
            {% else %}
                {% if person_dedication_form.instance.period %}
                    {{ person_dedication_form.instance.period }}:
                {% endif %}
            {% endif %}
            {% if person_dedication_form.instance.diplomatic_dedication %}
                {{ person_dedication_form.instance.diplomatic_dedication }}
            {% else %}
                {% translate 'dedication' %}
            {% endif %}
            {% if person_dedication_form.instance.dedicatee %}
                ({{ person_dedication_form.instance.dedicatee.concise }})
            {% endif %}
        </div>
        <div class="collapse-content mt-5">
            <h3> {% translate 'date' %} </h3>
            {{ person_dedication_form.as_daisy }}
            {% comment %}
            <label>
                <div class="label">
                    <span class="label-text">
                        {% translate 'standardized date' %}
                    </span>
                </div>
                {{ person_dedication_form.display }}
            </label>
            <div class="flex flex-rows w-full gap-10 my-5">
                <div class="form-control">
                    <label class="label-text">{{ person_dedication_form.not_before.label }}</label>
                    <div class="flex">
                        {{ person_dedication_form.not_before }}
                    </div>
                </div>
                <div class="form-control">
                    <label class="label-text">{{ person_dedication_form.not_after.label }}</label>
                    <div class="flex">
                        {{ person_dedication_form.not_after }}
                    </div>
                </div>
            </div>

            <label>
                <div class="label">
                    <span class="label-text">
                        {% translate 'dedication text' %}
                    </span>
                </div>
                {{ person_dedication_form.diplomatic_dedication }}
            </label>
            {% endcomment %}

            {% if person_dedication_form.instance.dedicatee %}
                <div class="flex items-center my-5">
                    <label class="pseudo-input border border-black bg-white border-r-0 flex-1 flex items-center gap-2">
                        {% translate 'dedicatee' %}
                        <input type="text" class="grow" disabled value="{{ person_dedication_form.instance.dedicatee }}" />
                    </label>
                    <a class="btn btn-outline" href="{% url 'edwoca:manifestation_person_dedication_remove_dedicatee' object.id person_dedication_form.instance.id %}">
                        {% translate 'remove' %}
                    </a>
                </div>
            {% else %}
                <div class="my-5">
                    <div class="items-center">
                        <form action="{% url 'edwoca:manifestation_title' object.id %}" method="get" class="flex">
                            <label class="input input-bordered border-black bg-white flex items-center gap-2 flex-1">
                                {% translate 'dedicatee' %}
                                <input
                                    type="text"
                                    name="dedicatee-q"
                                    class="grow"
                                    {% if query_dedicatee and person_dedication_id == person_dedication_form.instance.id %}
                                        value="{{ query_dedicatee }}"
                                    {% endif %}
                                    >
                            </label>
                            <input type="hidden" name="person_dedication_id" value="{{ person_dedication_form.instance.id }}">
                            <input type="submit" class="btn flex-0 btn-outline border-l-0" value="{% translate 'search' %}"/>
                        </form>
                    </div>
                    {% if query_dedicatee and person_dedication_id == person_dedication_form.instance.id %}
                        <ul class="border border-black p-3 overflow-auto h-32">
                        {% for person in found_persons %}
                            <li>
                                <a href="{% url 'edwoca:manifestation_person_dedication_add_dedicatee' object.id person_dedication_form.instance.id person.pk %}">{{ person.object }}</a>
                            </li>
                        {% empty %}
                            <li>
                                {% translate 'no search results' %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            {% if person_dedication_form.instance.place %}
                <div class="flex items-center my-5">
                    <label class="pseudo-input flex-1 border border-black bg-white border-r-0 flex items-center gap-2">
                        {% translate 'place' %}
                        <input type="text" class="grow" disabled value="{{ person_dedication_form.instance.place }}" />
                    </label>
                    <a class="btn btn-outline" href="{% url 'edwoca:manifestation_dedication_remove_place' object.id person_dedication_form.instance.id %}">Entfernen</a>
                </div>
            {% else %}
                <div class="my-5">
                    <div class="items-center">
                        <form action="{% url 'edwoca:manifestation_title' object.id %}" method="get" class="flex">
                            <label class="input input-bordered border-black bg-white flex items-center gap-2 flex-1">
                                {% translate 'place' %}
                                <input type="text" name="place-q" class="grow" {% if query_place %}value="{{ query_place }}"{% endif %}>
                            </label>
                            <input type="hidden" name="person_dedication_id" value="{{ person_dedication_form.instance.id }}">
                            <input type="submit" class="btn flex-0 btn-outline border-l-0" value="{% translate 'search' %}"/>
                        </form>
                    </div>
                    {% if query_place and person_dedication_id == person_dedication_form.instance.id %}
                        <ul class="border border-black p-3 overflow-auto h-32">
                        {% for place in found_places %}
                            <li>
                                <a href="{% url 'edwoca:manifestation_dedication_add_place' object.id person_dedication_form.instance.id place.pk %}">{{ place.object }}</a>
                            </li>
                        {% empty %}
                        <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_person_dedication_delete' person_dedication_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove dedication' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p> {% translate 'no person dedications' %} </p>
{% endfor %}

<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:person_dedication_add' object.id %}" class="btn-outline btn flex-0"> {% translate 'create person dedication' %} </a>
</div>

<h3> {% translate 'corporation dedications' %} </h3>
{% for corporation_dedication_form in corporation_dedication_forms %}
    <div class="collapse bg-base-100 collapse-arrow my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {% if corporation_dedication_form.instance.place %}
                {{ corporation_dedication_form.instance.place.concise }}
                ({{ corporation_dedication_form.instance.period}}):
            {% else %}
                {% if corporation_dedication_form.instance.period %}
                    {{ corporation_dedication_form.instance.period }}:
                {% endif %}
            {% endif %}
            {% if corporation_dedication_form.instance.diplomatic_dedication %}
                {{ corporation_dedication_form.instance.diplomatic_dedication }}
            {% else %}
                {% translate 'dedication' %}
            {% endif %}
            {% if corporation_dedication_form.instance.dedicatee %}
                ({{ corporation_dedication_form.instance.dedicatee.concise }})
            {% endif %}
        </div>
        <div class="collapse-content mt-5">
            <h3> {% translate 'date' %} </h3>
            {{ corporation_dedication_form.as_daisy }}
            {% comment %}
            <label>
                <div class="label">
                    <span class="label-text">
                        {% translate 'standardized date' %}
                    </span>
                </div>
                {{ corporation_dedication_form.display }}
            </label>
            <div class="flex flex-rows w-full gap-10 my-5">
                <div class="form-control">
                    <label class="label-text">{{ corporation_dedication_form.not_before.label }}</label>
                    <div class="flex">
                        {{ corporation_dedication_form.not_before }}
                    </div>
                </div>
                <div class="form-control">
                    <label class="label-text">{{ corporation_dedication_form.not_after.label }}</label>
                    <div class="flex">
                        {{ corporation_dedication_form.not_after }}
                    </div>
                </div>
            </div>

            <label>
                <div class="label">
                    <span class="label-text">
                        {% translate 'dedication text' %}
                    </span>
                </div>
                {{ corporation_dedication_form.diplomatic_dedication }}
            </label>
            {% endcomment %}

            {% if corporation_dedication_form.instance.dedicatee %}
                <div class="flex items-center my-5">
                    <label class="pseudo-input border border-black bg-white border-r-0 flex-1 flex items-center gap-2">
                        {% translate 'dedicatee' %}
                        <input type="text" class="grow" disabled value="{{ corporation_dedication_form.instance.dedicatee }}" />
                    </label>
                    <a class="btn btn-outline" href="{% url 'edwoca:manifestation_corporation_dedication_remove_dedicatee' object.id corporation_dedication_form.instance.id %}">
                        {% translate 'remove' %}
                    </a>
                </div>
            {% else %}
                <div class="my-5">
                    <div class="items-center">
                        <form action="{% url 'edwoca:manifestation_title' object.id %}" method="get" class="flex">
                            <label class="input input-bordered border-black bg-white flex items-center gap-2 flex-1">
                                {% translate 'dedicatee' %}
                                <input
                                    type="text"
                                    name="dedicatee-q"
                                    class="grow"
                                    {% if query_dedicatee and corporation_dedication_id == corporation_dedication_form.instance.id %}
                                        value="{{ query_dedicatee }}"
                                    {% endif %}
                                    >
                            </label>
                            <input type="hidden" name="corporation_dedication_id" value="{{ corporation_dedication_form.instance.id }}">
                            <input type="submit" class="btn flex-0 btn-outline border-l-0" value="{% translate 'search' %}"/>
                        </form>
                    </div>
                    {% if query_dedicatee and corporation_dedication_id == corporation_dedication_form.instance.id %}
                        <ul class="border border-black p-3 overflow-auto h-32">
                        {% for corporation in found_corporations %}
                            <li>
                                <a href="{% url 'edwoca:manifestation_corporation_dedication_add_dedicatee' object.id corporation_dedication_form.instance.id corporation.pk %}">{{ corporation.object }}</a>
                            </li>
                        {% empty %}
                            <li>
                                {% translate 'no search results' %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}

            {% if corporation_dedication_form.instance.place %}
                <div class="flex items-center my-5">
                    <label class="pseudo-input flex-1 border border-black bg-white border-r-0 flex items-center gap-2">
                        {% translate 'place' %}
                        <input type="text" class="grow" disabled value="{{ corporation_dedication_form.instance.place }}" />
                    </label>
                    <a class="btn btn-outline" href="{% url 'edwoca:manifestation_dedication_remove_place' object.id corporation_dedication_form.instance.id %}">Entfernen</a>
                </div>
            {% else %}
                <div class="my-5">
                    <div class="items-center">
                        <form action="{% url 'edwoca:manifestation_title' object.id %}" method="get" class="flex">
                            <label class="input input-bordered border-black bg-white flex items-center gap-2 flex-1">
                                {% translate 'place' %}
                                <input type="text" name="place-q" class="grow" {% if query_place %}value="{{ query_place }}"{% endif %}>
                            </label>
                            <input type="hidden" name="corporation_dedication_id" value="{{ corporation_dedication_form.instance.id }}">
                            <input type="submit" class="btn flex-0 btn-outline border-l-0" value="{% translate 'search' %}"/>
                        </form>
                    </div>
                    {% if query_place and corporation_dedication_id == corporation_dedication_form.instance.id %}
                        <ul class="border border-black p-3 overflow-auto h-32">
                        {% for place in found_places %}
                            <li>
                                <a href="{% url 'edwoca:manifestation_dedication_add_place' object.id corporation_dedication_form.instance.id place.pk %}">{{ place.object }}</a>
                            </li>
                        {% empty %}
                        <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_corporation_dedication_delete' corporation_dedication_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove dedication' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p> {% translate 'no corporation dedications' %} </p>
{% endfor %}

<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:corporation_dedication_add' object.id %}" class="btn-outline btn flex-0"> {% translate 'create corporation dedication' %} </a>
</div>

<h2 class="my-5">
    {% translate 'reference to print' %}
</h2>

<label>
    <div class="label">
        <span class="label-text">
            {% translate source_title_form.plate_number.label %}
        </span>
    </div>
    {{ source_title_form.plate_number }}
</label>

<h2 class="my-5"> {% translate 'comment' %} </h2>

<label>
    <div class="label">
        <span class="label-text">
            {% translate source_title_form.private_dedication_comment.label %}
        </span>
    </div>
    {{ source_title_form.private_dedication_comment }}
</label>

{% include 'edwoca/partials/manifestation/preview-divs/title_epilog.html' %}

{% endblock %}
