{% extends 'edwoca/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/relations_prolog.html' %}

{% if not object.is_collection and not object.component_of and not object.part_of %}
    <div class="flex">
        <div class="flex-1"></div>
        <form action="{% url 'edwoca:manifestation_set_collection' object.id %}" class="flex-0">
            <input type="submit" class="btn btn-outline btn-primary" value="{% translate 'set collection status' %}" />
        </form>
    </div>
{% endif %}

<h2 class="mb-5">
    {% translate 'parent references' %}
</h2>

{% if object.part_of or object.component_of and object.component_of.is_collection %}
    <h3 class="my-5">
        {% translate 'collection' %}
    </h3>
{% endif %}

{% if not object.is_collection %}
    {% if object.part_of %}
        <p>
        {{ object.part_label }}
            {% if object.part_label == 'c' %}
                {% translate 'this object is part of (constituting)' %}
            {% endif %}
            {% if object.part_label == 'b' %}
                {% translate 'this object is part of (bound together)' %}
            {% endif %}
            {% if object.part_label == 's' %}
                {% translate 'this object is part of (separated)' %}
            {% endif %}
            <a class="font-bold" href="{% url 'edwoca:manifestation_relations' object.part_of.id %}">
                → {{ object.part_of }}.
            </a>
        </p>
        <div class="flex my-5">
            <div class="flex-1"></div>
            <form class="flex-0" method="post" action="{% url 'edwoca:collection_remove' object.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove collection' %}" />
            </form>
        </div>
    {% else %}
        {% if object.component_of and object.component_of.is_collection %}
            <p>
                {% translate 'this object is component of' %}
                <a class="font-bold" href="{% url 'edwoca:manifestation_relations' object.component_of.id %}">
                    → {{ object.component_of }}.
                </a>
            </p>
            <div class="flex my-5">
                <div class="flex-1"></div>
                <form class="flex-0" method="post" action="{% url 'edwoca:collection_remove' object.id %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove collection' %}" />
                </form>
            </div>
        {% else %}
        {% endif %}
    {% endif %}
{% endif %}

{% if object.component_of and not object.component_of.is_collection %}
    <h3 class="my-5">
        {% translate 'component of part' %}
    </h3>

    <p>
        {% translate 'this object is component of' %}
        <a class="font-bold" href="{% url 'edwoca:manifestation_relations' object.component_of.id %}">
            → {{ object.component_of }}.
        </a>
    </p>
    <div class="flex my-5">
        <div class="flex-1"></div>
        <form class="flex-0" method="post" action="{% url 'edwoca:collection_remove' object.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove collection' %}" />
        </form>
    </div>
{% endif %}

{% if not object.is_collection and not object.component_of and not object.part_of %}
    <form action="{% url 'edwoca:manifestation_relations' object.id %}" class="w-full">
        <label class="form-control">
            <div class="label">
                <span class="label-text">
                    {% translate 'collection' %}
                </span>
            </div>
            <div class="flex">
                {{ collection_search_form.q }}
                <input type="submit" value="{% translate 'search' %}" class="btn btn-outline border-l-0" />
            </div>
        </label>
    </form>
    {% if found_collections %}
        <ul class="border border-black p-2 h-32 overflow-auto">
            {% for found_collection in found_collections %}
                {% if not found_collection.object.id == object.id %}
                    <li>
                        {{ found_collection.object }}
                        <div class="flex mb-2 mx-2 gap-2">
                            {% if found_collection.object.is_collection %}
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="collection-link-type" value="constituting" />
                                    <input type="hidden" name="collection-link" value="{{ found_collection.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is part (constituting) of' %}" />
                                </form>
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="collection-link-type" value="bound_together" />
                                    <input type="hidden" name="collection-link" value="{{ found_collection.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is part (bound together) of' %}" />
                                </form>
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="collection-link-type" value="separated" />
                                    <input type="hidden" name="collection-link" value="{{ found_collection.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is part (separated) of' %}" />
                                </form>
                            {% endif %}
                            <form method="post" class="flex-0">
                                {% csrf_token %}
                                <input type="hidden" name="collection-link-type" value="component" />
                                <input type="hidden" name="collection-link" value="{{ found_collection.object.id }}" />
                                <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is component of' %}" />
                            </form>
                        </div>
                    </li>
                {% endif %}
            {% empty %}
                <li>
                    <em>
                        {% translate 'no search results' %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

{% if not object.component_of and not object.part_of %}
    <h3 class="mb-5">
        {% translate 'compound' %}
    </h3>

    <p class="note">
        🚧 under construction 🚧
    </p>
{% endif %}

{% if object.is_collection or object.part_of %}
    <h2 class="my-5">
        {% translate 'child references' %}
    </h2>
{% endif %}

{% if object.is_collection or object.collection_parts.count %}
    <h3 class="my-5">
        {% translate 'collection parts and components' %}
    </h3>

    <ul class="list-disc m-5" id="collection-parts">
        {% include 'edwoca/partials/manifestation/collection_part_list.html' %}
    </ul>

    <div class="flex">
        <div class="flex-1"></div>
        <details class="dropdown dropdown-end my-5 flex-0">
            <summary class="btn btn-outline">
                {% translate 'create' %}
            </summary>
            <ul class="menu dropdown-content bg-white shadow">
                <li>
                    <a href="{% url 'edwoca:singleton_part_create' object.id 'constituting' %}">
                        {% translate 'create manuscript part (constituting)' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'edwoca:singleton_part_create' object.id 'bound_together' %}">
                        {% translate 'create manuscript part (bound together)' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'edwoca:singleton_part_create' object.id 'separated' %}">
                        {% translate 'create manuscript part (separated)' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'edwoca:singleton_component_create' object.id %}">
                        {% translate 'create manuscript component' %}
                    </a>
                </li>
            </ul>
        </details>
    </div>
{% endif %}

{% if object.part_of %}
    <h3 class="my-5">
        {% translate 'collection' %}
    </h3>

    {% comment %} hier eigenes feld part_components? {% endcomment %}
    {% if object.collection_components.all %}
        <ul class="list-disc m-5">
            {% for collection_component in object.collection_components.all %}
                <li class="list-disc">
                    <a href="{% url 'edwoca:manifestation_relations' collection_component.id %}">
                        {{ collection_component }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="flex gap-5">
        <div class="flex-1"></div>
        {% comment %}
        <a class="flex-0 btn btn-outline" href="{% url 'edwoca:component_create' object.id %}">
            {% translate 'create print component' %}
        </a>
        {% endcomment %}
        <a class="flex-0 btn btn-outline" href="{% url 'edwoca:singleton_component_create' object.id %}">
            {% translate 'create manuscript component' %}
        </a>
    </div>
{% endif %}

{% if object.is_collection %}
    {% if object.collection_parts.count or object.collection_components.count %}
        <p class="note">
            {% translate 'In order to remove the collection status, please delete all parts and components of this object.' %}
        </p>
    {% else %}
        {% if object.is_singleton and object.single_item.modifications.count %}
            <p class="note">
                {% translate 'In order to remove the collection status, please delete all modifications of this object.' %}
            </p>
        {% else %}
            {% if not object.is_singleton and object.items.count %}
                <p class="note">
                    {% translate 'In order to remove the collection status, please delete all items of this object.' %}
                </p>
            {% else %}
                <div class="flex">
                    <div class="flex-1"></div>
                    <form method="post" action="{% url 'edwoca:manifestation_unset_collection' object.id %}" class="flex-0">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline btn-primary" value="{% translate 'remove collection status' %}" />
                    </form>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% if not object.is_collection %}
    <h2 class="my-5">
        {% translate 'sibling references' %}
    </h2>

    {% for manifestation_relation in object.source_manifestation_of.all %}
        {% if manifestation_relation.target_manifestation.is_singleton %}
            <p>
                {% translate 'this object is related to' %}
                <a class="font-bold" href="{% url 'edwoca:manifestation_relations' manifestation_relation.target_manifestation.id %}">
                    → {{ manifestation_relation.target_manifestation }}.
                </a>
            </p>
            <div class="flex my-5">
                <div class="flex-1"></div>
                <form method="post" action="{% url 'edwoca:related_manifestation_remove' object.id manifestation_relation.id %}" class="flex-0 ml-4">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove relation' %}" />
                </form>
            </div>
        {% endif %}
    {% endfor %}
    {% for manifestation_relation in object.target_manifestation_of.all %}
        {% if manifestation_relation.source_manifestation.is_singleton %}
            <p>
                {% if manifestation_relation.label == 'R' %}
                    {% translate 'this object is related to' %}
                {% endif %}
                {% if manifestation_relation.label == 'SD' %}
                    {% translate 'this object has as stitch template (as documented)' %}
                {% endif %}
                {% if manifestation_relation.label == 'SI' %}
                    {% translate 'this object has as stitch template (inferred)' %}
                {% endif %}
                <a class="font-bold" href="{% url 'edwoca:manifestation_relations' manifestation_relation.source_manifestation.id %}">
                    → {{ manifestation_relation.source_manifestation }}.
                </a>
            </p>
            <div class="flex my-5">
                <div class="flex-1"></div>
                <form method="post" action="{% url 'edwoca:related_manifestation_remove' object.id manifestation_relation.id %}" class="flex-0 ml-4">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove relation' %}" />
                </form>
            </div>
        {% endif %}
    {% endfor %}

    <form action="{% url 'edwoca:manifestation_relations' object.id %}" method="get" class="w-full">
        <div class="label">
            <span class="label-text">
                {% translate 'manuscripts' %}
            </span>
        </div>
        <div class="flex">
            {{ manuscript_search_form.q }}
            <input type="submit" value="{% translate 'search' %}" class="btn btn-outline border-l-0" />
        </div>
    </form>

    {% if manuscript_query %}
        <ul class="border border-black p-2 h-32 overflow-auto">
            {% for found_manuscript in found_manuscripts %}
                {% if not found_manuscript.object.id == object.id %}
                    <li>
                        {{ found_manuscript.object }}
                        <div class="flex mb-2 mx-2 gap-2">
                            <form method="post" class="flex-0">
                                {% csrf_token %}
                                <input type="hidden" name="manifestation-link-type" value="related" />
                                <input type="hidden" name="manifestation-link" value="{{ found_manuscript.object.id }}" />
                                <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is related to' %}" />
                            </form>
                            {% if not object.is_singleton %}
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="manifestation-link-type" value="stitch_template" />
                                    <input type="hidden" name="manifestation-link" value="{{ found_manuscript.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'has as stitch template (as documented)' %}" />
                                </form>
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="manifestation-link-type" value="stitch_template_inferred" />
                                    <input type="hidden" name="manifestation-link" value="{{ found_manuscript.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'has as stitch template (inferred)' %}" />
                                </form>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            {% empty %}
                <li>
                    <em>
                        {% translate 'no search results' %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for manifestation_relation in object.source_manifestation_of.all %}
        {% if not manifestation_relation.target_manifestation.is_singleton %}
            <p>
                {% if manifestation_relation.label == 'R' %}
                    {% translate 'this object is related to' %}
                {% endif %}
                {% if manifestation_relation.label == 'SD' %}
                    {% translate 'this object is stitch template (as documented) of' %}
                {% endif %}
                {% if manifestation_relation.label == 'SI' %}
                    {% translate 'this object is stitch template (inferred) of' %}
                {% endif %}
                <a class="font-bold" href="{% url 'edwoca:manifestation_relations' manifestation_relation.target_manifestation.id %}">
                    → {{ manifestation_relation.target_manifestation }}.
                </a>
            </p>
            <div class="flex my-5">
                <div class="flex-1"></div>
                <form method="post" action="{% url 'edwoca:related_manifestation_remove' object.id manifestation_relation.id %}" class="flex-0 ml-4">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove relation' %}" />
                </form>
            </div>
        {% endif %}
    {% endfor %}
    {% for manifestation_relation in object.target_manifestation_of.all %}
        {% if not manifestation_relation.source_manifestation.is_singleton %}
            <p>
                {% translate 'this object is related to' %}
                <a class="font-bold" href="{% url 'edwoca:manifestation_relations' manifestation_relation.source_manifestation.id %}">
                    → {{ manifestation_relation.source_manifestation }}.
                </a>
            </p>
            <div class="flex my-5">
                <div class="flex-1"></div>
                <form method="post" action="{% url 'edwoca:related_manifestation_remove' object.id manifestation_relation.id %}" class="flex-0 ml-4">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-outline btn-sm" value="{% translate 'remove relation' %}" />
                </form>
            </div>
        {% endif %}
    {% endfor %}

    <form action="{% url 'edwoca:manifestation_relations' object.id %}" method="get" class="w-full">
        <div class="label">
            <span class="label-text">
                {% translate 'prints' %}
            </span>
        </div>
        <div class="flex">
            {{ print_search_form.q }}
            <input type="submit" value="{% translate 'search' %}" class="btn btn-outline border-l-0" />
        </div>
    </form>

    {% if print_query %}
        <ul class="border border-black p-2 h-32 overflow-auto">
            {% for found_print in found_prints %}
                {% if not found_print.object.id == object.id %}
                    <li>
                        {{ found_print.object }}
                        <div class="flex mb-2 mx-2 gap-2">
                            <form method="post" class="flex-0">
                                {% csrf_token %}
                                <input type="hidden" name="manifestation-link-type" value="related" />
                                <input type="hidden" name="manifestation-link" value="{{ found_print.object.id }}" />
                                <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is related to' %}" />
                            </form>
                            {% if object.is_singleton %}
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="manifestation-link-type" value="stitch_template" />
                                    <input type="hidden" name="manifestation-link" value="{{ found_print.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is stitch template (as documented)' %}" />
                                </form>
                                <form method="post" class="flex-0">
                                    {% csrf_token %}
                                    <input type="hidden" name="manifestation-link-type" value="stitch_template_inferred" />
                                    <input type="hidden" name="manifestation-link" value="{{ found_print.object.id }}" />
                                    <input type="submit" class="btn btn-outline btn-sm" value="{% translate 'is stitch template (inferred)' %}" />
                                </form>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            {% empty %}
                <li>
                    <em>
                        {% translate 'no search results' %}
                    </em>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}

<h2 class="my-5">
    {% translate 'relations comment' %}
</h2>

<form method="post">
    {% csrf_token %}
    {{ relations_comment_form.as_daisy }}
    <input type="submit" id="submit-form" value="Speichern" class="hidden">
</form>

{% if not object.is_singleton %}
    <h2 class="my-5"> 
        {% translate 'items' %}
    </h2>
    {% if object.missing_item %}
        <p>
            {% translate 'all items of this print are lost' %}
        </p>
    {% else %}
        <div id="item-list-container">
            {% include 'edwoca/partials/manifestation/item_list.html' %}
        </div>
        <div class="flex mt-4">
            <div class="flex-1"></div>
            <a href="{% url 'edwoca:manifestation_item_create' object.id %}" class="btn flex-0">
                {% translate 'create item' %}
            </a>
        </div>
    {% endif %}
{% endif %}

{% include 'edwoca/partials/manifestation/preview-divs/relations_epilog.html' %}

<div id="modal-container"></div>

{% endblock %}
