{% extends 'edwoca/base.html' %}

{% block content %}

<h1> {{ manfiestation }} </h1>

<a href="{% url 'edwoca:index' %}" role="button" class="btn btn-primary" > zurück </a>
<a href="{% url 'edwoca:manifestation_delete' manifestation.id %}" role="button" class="btn" > löschen </a>

<div class="grid grid-cols-3 gap-10">
	<!-- left sidebar -->
	<div>
		<h2> Manifestationsinformationen </h2>
		{% comment %}
		<!--
		<div class="card shadow-xl mt-5">
			<div class="card-body">
				<h3 class="card-title mt-0"> Titel </h3>

				{% for title in manifestation.titles.all %}
				<p class="mt-1">
					{{ title.title }} ({{ title.language }}, {{ title.status }})
					<a href="{% url 'edwoca:manifestation_title_update' title.id %}" class="btn btn-sm"> bearbeiten </a>
					<a href="{% url 'edwoca:manifestation_title_delete' title.id %}" class="btn btn-sm"> löschen </a>
				</p>
				{% endfor %}

				<div class="card-actions justify-end">
					<a href="{% url 'edwoca:manifestation_title_create' manifestation.id %}" class="btn btn-primary btn-sm"> neuer Titel </a>
				</div>
			</div>
		</div>
		-->
		{% endcomment %}

		<div class="card shadow-xl mt-5">
			<div class="card-body">
				<h3 class="card-title"> Basisinformationen </h3>
				<dl>
					<dt> RISM ID <dt>
					<dd> {{ manifestation.rism_id }} </dd>
					<dt> Plattennr. <dt>
					<dd> {{ manifestation.plate_number }} </dd>
				</dl>

				<h3> Geschichte </h3>

				<p>
					{{ manifestation.history }}
				</p>
				<div class="card-actions justify-end">
					<a href="{% url 'edwoca:manifestation_update' manifestation.id %}" role="button" class="btn btn-primary btn-sm" > bearbeiten </a>
				</div>
			</div>
		</div>

		<div class="card shadow-xl mt-5">
			<div class="card-body">
				<h3 class="card-title mt-0"> Relationen </h3>

				<p> zu Manifestationen </p>

				{% if related_manifestation_targets %}
				{% for related_manifestation in related_manifestation_targets %}
				<p class="lead mt-1">
					{{ related_manifestation.target_manifestation }} ({{ related_manifestation.label}})
					<a href="{% url 'edwoca:related_manifestation_update' related_manifestation.id %}" class="btn btn-sm"> bearbeiten </a>
					<a href="{% url 'edwoca:related_manifestation_delete' related_manifestation.id %}" class="btn btn-sm"> löschen </a>
				</p>
				<p>
					{{ related_manifestation.comment }}
				</p>
				{% endfor %}
				{% else %}
				<p class="lead mt-1"> keine ausgehenden Manifestationsrelationen </p>
				{% endif %}

				<div class="card-actions justify-end">
					<a href="{% url 'edwoca:related_manifestation_create' manifestation.id %}" class="btn btn-primary btn-sm"> neue Relation </a>
				</div>

				<p> von Manifestationen </p>

				{% if related_manifestation_sources %}
				{% for related_manifestation in related_manifestation_sources %}
				<p class="lead mt-1">
					{{ related_manifestation.source_manifestation }} ({{ related_manifestation.type}})
					<a href="{% url 'edwoca:related_manifestation_update' related_manifestation.id %}" class="btn btn-sm"> bearbeiten </a>
					<a href="{% url 'edwoca:related_manifestation_delete' related_manifestation.id %}" class="btn btn-sm"> löschen </a>
				</p>
				<p>
					{{ related_manifestation.comment }}
				</p>
				{% endfor %}
				{% else %}
				<p class="lead mt-1"> keine eingehenden Manifestationsrelationen </p>
				{% endif %}

				<p> zu Personen </p>

				{% if manifestation.manifestationcontributor_set.all %}
				{% for contributor in manifestation.manifestationcontributor_set.all %}
				<p class="lead mt-1">
						{{ contributor.person }} ({{ contributor.role }})
						<a href="{% url 'edwoca:manifestation_contributor_update' contributor.id %}" class="btn btn-sm"> bearbeiten </a>
						<a href="{% url 'edwoca:manifestation_contributor_delete' contributor.id %}" class="btn btn-sm"> löschen </a>
				</p>
				{% endfor %}
				{% else %}
				<p class="lead mt-1"> keine Personenrelationen </p>
				{% endif %}
				<div class="card-actions justify-end">
					<a href="{% url 'edwoca:manifestation_contributor_create' manifestation.id %}" class="btn btn-primary btn-sm"> neue Relation </a>
				</div>
			</div>
		</div>
	</div>

	<!-- main content -->
	<div class="col-span-2">
		<h2> Exemplarinformationen </h2>
		<div role="tablist" class="tabs tabs-bordered my-10">
			{% for item in manifestation.items.all %}
			<input type="radio" name="item-toggle" role="tab" class="tab" aria-label="{{ item }}" checked="checked"/>
			<div role="tabpanel" class="tab-content py-10">

				{% comment %}
				<!--
				<div class="card shadow-xl mt-5">
					<div class="card-body">
						<h3 class="card-title mt-0"> Titel </h3>

						{% for title in item.titles.all %}
						<p class="mt-1">
							{{ title.title }} ({{ title.language }}, {{ title.status }})
							<a href="{% url 'edwoca:item_title_update' title.id %}" class="btn btn-sm"> bearbeiten </a>
							<a href="{% url 'edwoca:item_title_delete' title.id %}" class="btn btn-sm"> löschen </a>
						</p>
						{% endfor %}

						<div class="card-actions justify-end">
							<a href="{% url 'edwoca:item_title_create' item.id %}" class="btn btn-primary btn-sm"> neuer Titel </a>
						</div>
					</div>
				</div>
				-->
				{% endcomment %}

				<div class="card shadow-xl mt-5">
					<div class="card-body">
						<h3 class="card-title mt-0"> Basisinformationen </h3>
						<dl>
							<dt> Handschrift </dt>
							<dd> {{ item.handwriting }} </dd>
						</dl>
						<h3> Umschlag </h3>

						<p>
							{{ item.cover }}
						</p>
						<h3> Geschichte </h3>

						<p>
							{{ item.history }}
						</p>
						<h3> IIIF-Manifest </h3>
						<a href="{{ item.iiif_manifest }}">{{ iiif_manifest }}</a>
						<div class="card-actions justify-end">
							<a href="{% url 'edwoca:item_update' item.id %}" class="btn"> bearbeiten </a>
							<a href="{% url 'edwoca:item_delete' item.id %}" class="btn btn-primary"> Exemplar löschen </a>
						</div>
					</div>
				</div>

				{% comment %}
				<!--
				<div class="card shadow-xl mt-5">
					<div class="card-body">
						<h3 class="card-title mt-0"> Datierung </h3>

						{% if item.period %}
						<dl>
							<dt> nicht vor </dt>
							<dd> {{ item.period.not_before }} </dd>
							<dt> nicht nach </dt>
							<dd> {{ item.period.not_after }} </dd>
							<dt> diplomatisch </dt>
							<dd> {{ item.period.display }} </dd>
							<dt> detaillierte Anzeige </dt>
							<dd> {{ item.period.render_detailed }} </dd>
						</dl>
						<div class="card-actions justify-end">
							<a href="{%url 'edwoca:item_period_update' item.period.id %}" class="btn"> bearbeiten </a>
							<a href="{%url 'edwoca:item_period_delete' item.period.id %}" class="btn"> löschen </a>
						</div>
						{% else %}
						<a href="{%url 'edwoca:item_period_create' item.id %}" class="btn btn-primary"> Datierung anlegen </a>
						{% endif %}
					</div>
				</div>
				-->
				{% endcomment %}


				<div class="card shadow-xl mt-5">
					<div class="card-body">
						<h3 class="card-title mt-0"> Beteiligte </h3>
						{% for contributor in item.itemcontributor_set.all %}
						<p class="mt-1">
							{{ contributor.person }} ({{contributor.role}})
							<a href="{% url 'edwoca:item_contributor_update' contributor.id %}" class="btn btn-sm"> bearbeiten </a>
							<a href="{% url 'edwoca:item_contributor_delete' contributor.id %}" class="btn btn-sm"> löschen </a>
						</p>
						{% endfor %}
						<div class="card-actions justify-end">
							<a href="{% url 'edwoca:item_contributor_create' item.id %}" class="btn btn-primary btn-sm"> neuer Beteiligter </a>
						</div>
					</div>
				</div>

				<div class="card shadow-xl mt-5">
					<div class="card-body">
						<h3 class="card-title mt-0"> Provenienz </h3>
						{% for contributor in item.itemcontributor_set.all %}
						<p class="mt-1">
							{{ contributor.person }} ({{contributor.role}})
							<a href="{% url 'edwoca:item_contributor_update' contributor.id %}" class="btn btn-sm"> bearbeiten </a>
							<a href="{% url 'edwoca:item_contributor_delete' contributor.id %}" class="btn btn-sm"> löschen </a>
						</p>
						{% endfor %}
						<div class="card-actions justify-end">
							<a href="{% url 'edwoca:item_contributor_create' item.id %}" class="btn btn-primary btn-sm"> neuer Beteiligter </a>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>

			<a role="tab" class="tab" name="item-toggle" href="{% url 'edwoca:item_create' manifestation.id %}"> neues Exemplar </a>
		</div>
	</div>
</div>
{% endblock %}
