{% extends 'edwoca/base.html' %}

{% block modals %}
	{% if not object.is_singleton %}
		{% for item_form in item_forms %}
			<div class="modal" role="dialog" id="item-modal-{{ item_form.item.id }}">
				<div class="modal-box">
					<h3 class="text-lg font-bold">Exemplar bearbeiten</h3>
					<form method="post">
						{% csrf_token %}
						{{ item_form.form.as_daisy }}

						<h3>Signaturen</h3>

						{% comment %}
							if not every management form is displayed here, there will be trouble in
							the other forms after a new formset form has been added
						{% endcomment %}
						<div class="hidden">
						{% for item_form in item_forms %}
							{{ item_form.signature_formset }}
						{% endfor %}
						</div>

						{% for form in item_form.signature_formset %}
							<div class="signature-form">
								{{ form.as_daisy }}
							</div>
						{% endfor %}

						
						<input type="submit" name="add_signature_{{ item_form.item.id }}" value="Signatur hinzufügen" class="btn btn-secondary mt-2">
						<input type="submit" name="save_changes" value="Speichern" id="submit-form" class="btn btn-primary">
					</form>
					<div class="modal-action">
						<a href="#" class="btn">X</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<div class="modal" role="dialog" id="item-modal-new">
			<div class="modal-box">
				<h3 class="text-lg font-bold">Exemplar anlegen</h3>
				<form method="post" action="{% url 'edwoca:manifestation_update' object.id %}">
					{% csrf_token %}
					{{ new_item_form.as_daisy }}

					<h3>Signaturen</h3>
					{{ new_signature_formset.management_form }}
					{% for form in new_signature_formset %}
						<div class="signature-form">
							{{ form.as_daisy }}
						</div>
					{% endfor %}

					
					<input type="submit" name="save_changes" value="Speichern" id="submit-form" class="btn btn-primary">
				</form>
				<div class="modal-action">
					<a href="#" class="btn">X</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

<div class="bg-white border border-base-300 p-5">
	<div class="prose">
	{% if object.is_singleton %}
		<h2> Manuskript </h2>
		
		{{ object }} ist ein <em>Manuskript</em>.
		<a class="btn btn-primary" href="{% url 'edwoca:manifestation_unset_singleton' object.id %}">
			Als Druck deklarieren
		</a>

		<form method="post">
			{% csrf_token %}
			{{ item_form.as_daisy }}

			<h3>Signaturen</h3>
			{{ signature_formset.management_form }}
			{% for form in signature_formset %}
				<div class="signature-form">
					{{ form.as_daisy }}
				</div>
			{% endfor %}

			
			<input type="submit" name="add_signature" value="Signatur hinzufügen" class="btn btn-secondary mt-2">
			<input type="submit" name="save_changes" value="Speichern" id="submit-form" class="hidden">
		</form>

	{% else %}
		<h2> Druck </h2>
		
		{{ object }} ist ein <em>Druck</em>.
		{% if object.items.count > 1 %}
			Falls Sie diese Manifestation als <em>Manuskript</em> deklarieren möchten, löschen Sie alle Exemplare außer eines.
		{% else %}
			<a class="btn btn-primary" href="{% url 'edwoca:manifestation_set_singleton' object.id %}">
				Als Manuskript deklarieren
			</a>
		{% endif %}

		<h2> Exemplare </h2>
		{% for item in object.items.all %}
			<div class="flex gap-5">
				<p class="flex-1 m-0">
					{{ item }}
				</p>
				<a href="#item-modal-{{ item.id }}" class="btn flex-0"> bearbeiten </a>
				<form action="{% url 'edwoca:item_delete' item.id %}" method="post" class="flex-0">
					{% csrf_token %}
					<input type="submit" class="btn btn-primary" value="löschen"/>
				</form>
			</div>
		{% empty %}
			<p> keine Exemplare </p>
		{% endfor %}
		<div class="flex">
			<div class="flex-1"></div>
			<a href="#item-modal-new" class="btn flex-0"> neues Exemplar </a>
		</div>

	{% endif %}
	</div>
</div>

<div class="border border-base-300 bg-base-200 p-5 w-full mt-5">
	<p class="prose">
		{% include 'edwoca/partials/manifestation/manifestation_history_preview.html' %}
	<p class="prose">
		{% include 'edwoca/partials/contributors_preview.html' %}
	<p class="prose">
		{% include 'edwoca/partials/bib_preview.html' %}
	</p>
</div>

{% endblock %}
