{% extends 'edwoca/base.html' %}

{% load i18n %}
{% load edwoca_extras %}

{% block content %}

<form id="form" method="post">
    {% csrf_token %}
    <input id="submit-form" type="submit" class="hidden" name="save_changes">
</form>

    {% include 'edwoca/partials/manifestation/preview-divs/manuscript_prolog.html' %}

    <div class="mt-5">
        <h2> {% translate 'manuscript characteristics' %} </h2>

        {{ form.as_daisy }}
        {{ manifestation_form.as_daisy }}
    </div>

    <div class="mt-5">
        <h3>{% translate 'writers / hands' %}</h3>
        {% for form in handwriting_forms %}
            <div class="bg-base-100 p-5 my-5">
                {% include 'edwoca/partials/forms/handwriting_form.html' with class='manifestation_handwriting' %}
            </div>
        {% endfor %}
        <div class="flex justify-end">
            <button class="btn btn-outline mt-3" name="add-manifestation-handwriting" form="form">
                {% translate 'create writer' %}
            </button>
        </div>
    </div>

    {% if not object.is_collection %}
        <div class="mt-5">
            <h2 class="my-5">
                {% translate 'modifications' %}
            </h2>
            {% for modification in modifications %}
                {% include 'edwoca/partials/forms/_modification_form.html' with modification=modification %}
            {% empty %}
                <p class="note">
                    {% translate 'no modifications' %}
                </p>
            {% endfor %}
            <div class="flex">
                <div class="flex-1"></div>
                <div class="flex-0">
                    <button class="btn btn-outline mt-3" form="form" name="add-modification">
                        {% translate 'create modification' %}
                    </button>
                    {% comment %}
                    <input type="submit" name="add_modification" value="{% translate 'create modification' %}" class="btn btn-outline mt-3" form="form">
                    {% endcomment %}
                </div>
            </div>
        </div>
    {% endif %}

    <h2 class="my-5">
        {% translate 'comment' %}
    </h2>

    {{ form.comment_as_daisy }}

    {% include 'edwoca/partials/manifestation/preview-divs/manuscript_epilog.html' %}

{% endblock %}
