{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/provenance_prolog.html' %}

<form method="post" id="form" class="hidden">
    {% csrf_token %}
    <input type="submit" class="hidden" id="submit-form">
</form>

<h2 class="my-5">
    {% translate 'provenance persons' %}
</h2>

{% include 'edwoca/partials/formset_management.html' with formset=person_formset form_id='form' %}

<div class="my-5">
    {% for entry in enriched_person_formset %}
        <div class="collapse collapse-arrow bg-base-100 my-5">
            <input type="checkbox" />

            <div class="collapse-title truncate">
                {{ entry.form.instance }}
            </div>

            <div class="collapse-content mt-5">

                {% for owner in entry.form.instance.owner.all %}
                    <div class="flex items-end mt-5 gap-5">
                        <label class="flex-1 gap-2">
                            <div class="label">
                                <span class="label-text">
                                    {% translate 'owner' %}
                                </span>
                            </div>
                            <div class="w-full bg-white border border-black pseudo-input flex items-center">
                                {{ owner }}
                            </div>
                        </label>
                        <a class="btn btn-outline btn-primary"
                           href="{% url 'edwoca:person_provenance_remove_owner' item.id entry.form.instance.id owner.id %}">
                            {% translate 'remove' %}
                        </a>
                    </div>
                {% empty %}
                    <p class="note my-5">
                        {% translate 'no owners' %}
                    </p>
                {% endfor %}
                <form method="get" class="flex mt-5 items-end">
                    <label class="flex-1">
                        <div class="label">
                            <span class="label-text">{% translate 'owner' %}</span>
                        </div>
                        {{ entry.owner_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                </form>

                {% if entry.owner_results %}
                    <ul class="border bg-white border-black p-2 h-32 overflow-auto">
                        {% for person in entry.owner_results %}
                            <li>
                                <a href="{% url 'edwoca:person_provenance_add_owner' item.id entry.form.instance.id person.pk %}">
                                    {{ person.object }}
                                </a>
                            </li>
                        {% empty %}
                            <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {{ entry.form.as_daisy }}

                <h3 class="my-5">
                    {% translate 'provenance proof (bibliography)' %}
                </h3>

                {% include 'edwoca/partials/formset_management.html' with formset=entry.bib_formset form_id='form' %}

                <ul>
                    {% for bib_form in entry.bib_formset %}
                        <li class="my-5">
                            <div class="p-5 border-black border">
                                <div class="label">
                                    <span class="label-text">{% translate 'title' %}</span>
                                </div>

                                <div class="pseudo-input bg-white border border-black flex items-center">
                                    {{ bib_form.instance.bib }}
                                </div>

                                {{ bib_form.as_daisy }}

                                <div class="flex">
                                    <div class="flex-1"></div>
                                    <form method="post"
                                          action="{% url 'edwoca:person_provenance_remove_bib' bib_form.instance.id %}">
                                        {% csrf_token %}
                                        <input type="submit"
                                               class="btn btn-outline btn-primary"
                                               value="{% translate 'remove reference' %}">
                                    </form>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <form method="get" class="flex mt-5 items-end">
                    <label class="flex-1">
                        <div class="label">
                            <span class="label-text">{% translate 'bibliography' %}</span>
                        </div>
                        {{ entry.bib_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                </form>

                {% if entry.bib_results %}
                    <ul class="p-2 bg-white border border-black h-32 overflow-auto">
                        {% for bib in entry.bib_results %}
                            <li>
                                <a href="{% url 'edwoca:person_provenance_add_bib' item.id entry.form.instance.id bib.pk %}">
                                    {{ bib.object }}
                                </a>
                            </li>
                        {% empty %}
                            <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h3 class="my-5">
                    {% translate 'provenance proof (letter)' %}
                </h3>

                <ul>
                    {% for letter in entry.form.instance.letters.all %}
                        <li class="my-5">
                            <div class="flex gap-5 items-center">
                                <label class="pseudo-input bg-white border border-black flex-1 flex items-center">
                                    {{ letter }}
                                </label>
                                <form method="post"
                                      action="{% url 'edwoca:person_provenance_remove_letter' item.id entry.form.instance.id letter.id %}"
                                      class="mb-0">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-outline" value="{% translate 'remove' %}">
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <form method="get" class="flex items-end mt-5">
                    <label class="flex-1">
                        <div class="label">
                            <span class="label-text">{% translate 'letter' %}</span>
                        </div>
                        {{ entry.letter_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                </form>

                {% if entry.letter_results %}
                    <ul class="p-2 bg-white border border-black h-32 overflow-auto">
                        {% for letter in entry.letter_results %}
                            <li>
                                <a href="{% url 'edwoca:person_provenance_add_letter' item.id entry.form.instance.id letter.pk %}">
                                    {{ letter.object }}
                                </a>
                            </li>
                        {% empty %}
                            <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="flex">
                    <div class="flex-1"></div>
                    <form method="post"
                          action="{% url 'edwoca:person_provenance_delete' entry.form.instance.id %}">
                        {% csrf_token %}
                        <input type="submit"
                               class="btn btn-primary btn-outline"
                               value="{% translate 'remove provenance station' %}" />
                    </form>
                </div>

            </div>
        </div>
    {% empty %}
        <p class="note">
            {% translate 'no provenance entries' %}
        </p>
    {% endfor %}
</div>

<div class="flex">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:person_provenance_add' item.id %}" class="btn btn-outline flex-0">
        {% translate 'add person provenance station' %}
    </a>
</div>

<h2 class="my-5">
    {% translate 'provenance corporations' %}
</h2>

{% include 'edwoca/partials/formset_management.html' with formset=corporation_formset form_id='form' %}

<div class="my-5">
    {% for entry in enriched_corporation_formset %}
        <div class="collapse collapse-arrow bg-base-100 my-5">
            <input type="checkbox" />

            <div class="collapse-title truncate">
                {{ entry.form.instance }}
            </div>

            <div class="collapse-content mt-5">

                {% if entry.form.instance.owner %}
                    <div class="flex items-end mt-5 gap-5">
                        <label class="flex-1 gap-2">
                            <div class="label">
                                <span class="label-text">
                                    {% translate 'owner' %}
                                </span>
                            </div>
                            <div class="w-full bg-white border border-black pseudo-input flex items-center">
                                {{ entry.form.instance.owner }}
                            </div>
                        </label>
                        <a class="btn btn-outline btn-primary"
                           href="{% url 'edwoca:corporation_provenance_remove_owner' item.id entry.form.instance.id %}">
                            {% translate 'remove' %}
                        </a>
                    </div>
                {% else %}
                    <form method="get" class="flex mt-5 items-end">
                        <label class="flex-1">
                            <div class="label">
                                <span class="label-text">{% translate 'owner' %}</span>
                            </div>
                            {{ entry.owner_search_form.q }}
                        </label>
                        <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                    </form>

                    {% if entry.owner_results %}
                        <ul class="border bg-white border-black p-2 h-32 overflow-auto">
                            {% for corporation in entry.owner_results %}
                                <li>
                                    <a href="{% url 'edwoca:corporation_provenance_add_owner' item.id entry.form.instance.id corporation.pk %}">
                                        {{ corporation.object }}
                                    </a>
                                </li>
                            {% empty %}
                                <li>{% translate 'no search results' %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                {{ entry.form.as_daisy }}

                <h3 class="my-5">
                    {% translate 'provenance proof (bibliography)' %}
                </h3>

                {% include 'edwoca/partials/formset_management.html' with formset=entry.bib_formset form_id='form' %}

                <ul>
                    {% for bib_form in entry.bib_formset %}
                        <li class="my-5">
                            <div class="p-5 border-black border">
                                <div class="label">
                                    <span class="label-text">{% translate 'title' %}</span>
                                </div>

                                <div class="pseudo-input bg-white border border-black flex items-center">
                                    {{ bib_form.instance.bib }}
                                </div>

                                {{ bib_form.as_daisy }}

                                <div class="flex">
                                    <div class="flex-1"></div>
                                    <form method="post"
                                          action="{% url 'edwoca:corporation_provenance_remove_bib' bib_form.instance.id %}">
                                        {% csrf_token %}
                                        <input type="submit"
                                               class="btn btn-outline btn-primary"
                                               value="{% translate 'remove reference' %}">
                                    </form>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <form method="get" class="flex mt-5 items-end">
                    <label class="flex-1">
                        <div class="label">
                            <span class="label-text">{% translate 'bibliography' %}</span>
                        </div>
                        {{ entry.bib_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                </form>

                {% if entry.bib_results %}
                    <ul class="p-2 bg-white border border-black h-32 overflow-auto">
                        {% for bib in entry.bib_results %}
                            <li>
                                <a href="{% url 'edwoca:corporation_provenance_add_bib' item.id entry.form.instance.id bib.pk %}">
                                    {{ bib.object }}
                                </a>
                            </li>
                        {% empty %}
                            <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <h3 class="my-5">
                    {% translate 'provenance proof (letter)' %}
                </h3>

                <ul>
                    {% for letter in entry.form.instance.letters.all %}
                        <li class="my-5">
                            <div class="flex gap-5 items-center">
                                <label class="pseudo-input bg-white border border-black flex-1 flex items-center">
                                    {{ letter }}
                                </label>
                                <form method="post"
                                      action="{% url 'edwoca:corporation_provenance_remove_letter' item.id entry.form.instance.id letter.id %}"
                                      class="mb-0">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-outline" value="{% translate 'remove' %}">
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <form method="get" class="flex items-end mt-5">
                    <label class="flex-1">
                        <div class="label">
                            <span class="label-text">{% translate 'letter' %}</span>
                        </div>
                        {{ entry.letter_search_form.q }}
                    </label>
                    <input type="submit" class="btn btn-outline border-l-0" value="{% translate 'search' %}"/>
                </form>

                {% if entry.letter_results %}
                    <ul class="p-2 bg-white border border-black h-32 overflow-auto">
                        {% for letter in entry.letter_results %}
                            <li>
                                <a href="{% url 'edwoca:corporation_provenance_add_letter' item.id entry.form.instance.id letter.pk %}">
                                    {{ letter.object }}
                                </a>
                            </li>
                        {% empty %}
                            <li>{% translate 'no search results' %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="flex">
                    <div class="flex-1"></div>
                    <form method="post"
                          action="{% url 'edwoca:corporation_provenance_delete' entry.form.instance.id %}">
                        {% csrf_token %}
                        <input type="submit"
                               class="btn btn-primary btn-outline"
                               value="{% translate 'remove provenance station' %}" />
                    </form>
                </div>

            </div>
        </div>
    {% empty %}
        <p class="note">
            {% translate 'no provenance entries' %}
        </p>
    {% endfor %}
</div>

<div class="flex">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:corporation_provenance_add' item.id %}" class="btn btn-outline flex-0">
        {% translate 'add corporation provenance station' %}
    </a>
</div>

<h2>
    {% translate 'comment' %}
</h2>
    {{ form.as_daisy }}

{% include 'edwoca/partials/manifestation/preview-divs/provenance_epilog.html' %}

{% endblock %}
