{% extends 'edwoca/base.html' %}

{% load i18n %}

{% block content %}

{% include 'edwoca/partials/manifestation/preview-divs/title_prolog.html' %}

<h2 class="my-5"> {% translate 'front matter' %} </h2>

<form id="form" class="hidden" method="post"> {% csrf_token %} <input id="submit-form" type="submit" /> </form>

<h3 class="my-5"> {% translate 'title setting' %} </h3>

{{ form.source_title_as_daisy }}

<h3 class="my-5"> {% translate 'diplomatic titles' %} </h3>

<div class="mt-5">
{% for title_form in title_forms %}
    <div class="collapse collapse-arrow bg-base-100 my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {{ title_form.instance.render_summary }}
        </div>
        <div class="collapse-content mt-5">
            {{ title_form.as_daisy }}

            <div class="mt-5">
                <h3>
                    {% translate 'writers/hands' %}
                </h3>
                {% for handwriting_form in title_form.handwriting_forms %}
                    <div class="border border-black p-5 my-5">
                        {% if handwriting_form.instance.writer %}
                            <div class="flex items-center mb-5">
                                <label class="flex-1 items-center">
                                    <div class="label">
                                        <span class="label-text">
                                            {% translate 'writer' %}
                                        </span>
                                    </div>
                                    <div class="flex gap-5">
                                        <input type="text" class="grow pseudo-input bg-white border border-black" disabled value="{{ handwriting_form.instance.writer }}" />
                                        <a class="btn btn-outline btn-primary" href="{% url 'edwoca:manifestation_title_remove_handwriting_writer' object.id handwriting_form.instance.id %}">{% translate 'remove' %}</a>
                                    </div>
                                </label>
                            </div>
                        {% else %}
                            {# HTMX Suche für WRITER #}
                            {% include 'edwoca/partials/manifestation/dedication_search_results.html' with label='writer' model_name='person' dedication_model='handwriting' dedicatee_model='person' target_id=handwriting_form.instance.id dedication_id=handwriting_form.instance.id placeholder='search persons' %}
                        {% endif %}

                        <div class="flex gap-5 items-end rounded-lg">
                            <div class="flex-1">
                                {{ handwriting_form.as_daisy }}
                            </div>
                            <form action="{% url 'edwoca:manifestation_title_handwriting_delete' handwriting_form.instance.id %}" method="post" class="flex-0 m-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-outline text-primary" value="{% translate 'remove writer' %}"/>
                            </form>
                        </div>
                    </div>
                {% endfor %}

                <div class="flex">
                    <div class="flex-1"></div>
                    <form method="post" class="flex-0">
                        {% csrf_token %}
                        <input type="hidden" name="add_title_handwriting_to_title_id" value="{{ title_form.instance.id }}">
                        <input type="submit" name="add_title_handwriting" value="{% translate 'create handwriting' %}" class="btn btn-outline mt-3">
                    </form>
                </div>
            </div>

            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_title_delete' title_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove title' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p> {% translate 'no titles' %}</p>
{% endfor %}
</div>

<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:manifestation_title_add' object.id%}" class="btn btn-outline flex-0"> {% translate 'create title' %}</a>
</div>

<h2 class="mb-5"> {% translate 'dedications' %} </h2>

{{ form.title_comment_as_daisy }}

<h3 class="my-5"> {% translate 'person dedications' %} </h3>
{% for person_dedication_form in person_dedication_forms %}
    <div class="collapse bg-base-100 collapse-arrow my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {{ person_dedication_form.instance }}
        </div>
        <div class="collapse-content mt-5">
            {{ person_dedication_form.as_daisy }}

            {# PERSON DEDICATEE SECTION #}
            {% if person_dedication_form.instance.dedicatee %}
                <div class="flex items-center my-5">
                    <label class="flex-1 gap-2">
                        <div class="label">
                            <span class="label-text">{% translate 'dedicatee' %}</span>
                        </div>
                        <div class="flex gap-5">
                            <input type="text" class="flex-1 grow pseudo-input border border-black bg-white" disabled value="{{ person_dedication_form.instance.dedicatee }}" />
                            <a class="btn btn-outline btn-primary" href="{% url 'edwoca:manifestation_person_dedication_remove_dedicatee' object.id person_dedication_form.instance.id %}">
                                {% translate 'remove' %}
                            </a>
                        </div>
                    </label>
                </div>
            {% else %}
                {# HTMX Suche für PERSON DEDICATEE #}
                {% include 'edwoca/partials/manifestation/dedication_search_results.html' with label='dedicatee' model_name='person' dedication_model='person_dedication' dedicatee_model='person' target_id=person_dedication_form.instance.id|stringformat:"s"|add:"-pers" dedication_id=person_dedication_form.instance.id placeholder='search persons' %}
            {% endif %}

            {# PERSON PLACE SECTION #}
            {% if person_dedication_form.instance.place %}
                <div class="flex items-center my-5">
                    <label class="grow">
                        <div class="label">
                            <span class="label-text">{% translate 'place' %}</span>
                        </div>
                        <div class="flex gap-5">
                            <input type="text" class="flex-1 grow pseudo-input flex-1 border border-black bg-white" disabled value="{{ person_dedication_form.instance.place }}" />
                            <a class="btn btn-outline btn-primary flex-0" href="{% url 'edwoca:manifestation_person_dedication_remove_place' object.id person_dedication_form.instance.id %}">
                                {% translate 'remove' %}
                            </a>
                        </div>
                    </label>
                </div>
            {% else %}
                {# HTMX Suche für PERSON PLACE #}
                {% include 'edwoca/partials/manifestation/dedication_search_results.html' with label='place' model_name='place' dedication_model='person_dedication' dedicatee_model='place' target_id=person_dedication_form.instance.id|stringformat:"s"|add:"-place" dedication_id=person_dedication_form.instance.id placeholder='search places' %}
            {% endif %}

            {{ person_dedication_form.date_as_daisy }}
            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_person_dedication_delete' person_dedication_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove dedication' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p class="note"> {% translate 'no person dedications' %} </p>
{% endfor %}

<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:person_dedication_add' object.id %}" class="btn-outline btn flex-0"> {% translate 'create person dedication' %} </a>
</div>

<h3 class="my-5"> {% translate 'corporation dedications' %} </h3>
{% for corporation_dedication_form in corporation_dedication_forms %}
    <div class="collapse bg-base-100 collapse-arrow my-5">
        <input type="checkbox" />
        <div class="bg-base-100 collapse-title truncate">
            {{ corporation_dedication_form.instance }}
        </div>
        <div class="collapse-content mt-5">
            {{ corporation_dedication_form.as_daisy }}

            {# CORP DEDICATEE SECTION #}
            {% if corporation_dedication_form.instance.dedicatee %}
                <div class="flex items-center my-5">
                    <label class="flex-1 gap-2">
                        <div class="label">
                            <span class="label-text">{% translate 'dedicatee' %}</span>
                        </div>
                        <div class="flex gap-5">
                            <input type="text" class="flex-1 grow pseudo-input border border-black bg-white" disabled value="{{ corporation_dedication_form.instance.dedicatee }}" />
                            <a class="btn btn-outline btn-primary" href="{% url 'edwoca:manifestation_corporation_dedication_remove_dedicatee' object.id corporation_dedication_form.instance.id %}">
                                {% translate 'remove' %}
                            </a>
                        </div>
                    </label>
                </div>
            {% else %}
                {# HTMX Suche für CORP DEDICATEE #}
                {% include 'edwoca/partials/manifestation/dedication_search_results.html' with label='dedicatee' model_name='corporation' dedication_model='corporation_dedication' dedicatee_model='corporation' target_id=corporation_dedication_form.instance.id|stringformat:"s"|add:"-corp" dedication_id=corporation_dedication_form.instance.id placeholder='search corporations' %}
            {% endif %}

            {# CORP PLACE SECTION #}
            {% if corporation_dedication_form.instance.place %}
                <div class="flex items-center my-5">
                    <label class="grow">
                        <div class="label">
                            <span class="label-text">{% translate 'place' %}</span>
                        </div>
                        <div class="flex gap-5">
                            <input type="text" class="flex-1 grow pseudo-input flex-1 border border-black bg-white" disabled value="{{ corporation_dedication_form.instance.place }}" />
                            <a class="btn btn-outline btn-primary flex-0" href="{% url 'edwoca:manifestation_corporation_dedication_remove_place' object.id corporation_dedication_form.instance.id %}">
                                {% translate 'remove' %}
                            </a>
                        </div>
                    </label>
                </div>
            {% else %}
                {# HTMX Suche für CORP PLACE #}
                {% include 'edwoca/partials/manifestation/dedication_search_results.html' with label='place' model_name='place' dedication_model='corporation_dedication' dedicatee_model='place' target_id=corporation_dedication_form.instance.id|stringformat:"s"|add:"-corpplace" dedication_id=corporation_dedication_form.instance.id placeholder='search places' %}
            {% endif %}

            {{ corporation_dedication_form.date_as_daisy }}
            <div class="flex">
                <div class="flex-1"></div>
                <form action="{% url 'edwoca:manifestation_corporation_dedication_delete' corporation_dedication_form.instance.id %}" method="post" class="flex-0">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-outline" type="submit" value="{% translate 'remove dedication' %}" />
                </form>
            </div>
        </div>
    </div>
{% empty %}
<p class="note"> {% translate 'no corporation dedications' %} </p>
{% endfor %}

<div class="flex items-center">
    <div class="flex-1"></div>
    <a href="{% url 'edwoca:corporation_dedication_add' object.id %}" class="btn-outline btn flex-0"> {% translate 'create corporation dedication' %} </a>
</div>

<label>
    <div class="label">
        <span class="label-text">
            {% translate source_title_form.plate_number.label %}
        </span>
    </div>
    {{ source_title_form.plate_number }}
</label>

<h3 class="my-5"> {% translate 'comment' %} </h3>

{{ form.dedication_comment_as_daisy }}

{% include 'edwoca/partials/manifestation/preview-divs/title_epilog.html' %}

{% endblock %}