{% extends 'liszt_util/base.html' %}

{% block menu %}

{% if 'expressions' in request.path %}
	{% include 'edwoca/partials/expression_menu.html' %}
{% endif %}

{% if 'work' in request.path %}
	{% include 'edwoca/partials/work_menu.html' %}
{% endif %}

{% endblock %}

{% block content %}

<div class="bg-white border border-base-300 p-5">
	<h2 class="card-title mt-0"> {{ view_title }} </h2>

	<form method="post">
		{% csrf_token %}
		{{ form.as_daisy }}

		<input type="submit" value="{{ button_label }}" id="submit-form" class="hidden">
	</form>
</div>

{% endblock %}

{% block nav %}
<div class="flex flex-col h-full">
	<div class="flex-1">
		-- Navigation --
	</div>
	<div class="flex-0">
		<label for="submit-form" class="btn btn-primary"> speichern </label>
	</div>
</div>
{% endblock %}

{% block navbar_extras %}
{% endblock %}
