<div class="border border-base-300 bg-base-200 p-5 w-full mb-5 flex flex-col gap-2">
    <div class="prose">
        {% include 'edwoca/partials/item/preview-paragraphs/head.html' %}
    </div>
    <div class="prose">
        {% include 'edwoca/partials/item/preview-paragraphs/manuscript.html' %}
    </div>
    <div class="prose">
        {% include 'edwoca/partials/item/preview-paragraphs/relations.html' %}
    </div>
    <div class="prose">
        {% include 'edwoca/partials/item/preview-paragraphs/dedication.html' %}
    </div>
    <div class="prose">
        {% include 'edwoca/partials/item/preview-paragraphs/provenance.html' %}
    </div>
</div>
